<div class="collection_compare_select">
  <div class="collection_compare_select_btn">
    {{ 'common.vergleichen' | t }} (<span class="collection_compare_select_num">0</span>)
    {{- 'icon-right.svg' | inline_asset_content -}}
  </div>
  <div class="collection_compare_select_contain">
    <div class="collection_compare_select_contain_head">
      {{ 'common.vergleichen' | t }} (<span class="collection_compare_select_num">0</span>)
    </div>
    <div class="collection_compare_select_contain_body">
      <div class="collection_compare_select_contain_body_list"></div>
      <div class="collection_compare_select_contain_body_btn" disable>
        {{ 'common.jetzt_vergleichen' | t }}
        {{ 'icon-right-arrow.svg' | inline_asset_content }}
      </div>
    </div>
  </div>
</div>
