<div class="collection_compare_select">
  <div class="collection_compare_select_btn">
    {{ 'common.vergleichen' | t }} (<span class="collection_compare_select_num">0</span>)
    {{- 'icon-right.svg' | inline_asset_content -}}
  </div>
  <div class="collection_compare_select_contain">
    <div class="collection_compare_select_contain_head">
      {{ 'common.vergleichen' | t }} (<span class="collection_compare_select_num">0</span>)
    </div>
    <div class="collection_compare_select_contain_body">
      <div class="collection_compare_select_contain_body_list">
        <div class="collection_compare_select_contain_body_list_tip">
          <p>{{ 'common.compare_select_tip' | t }}</p>
          <a class="collection_compare_select_contain_body_list_tip_close">
            {{- 'common.compare_select_tip_close' | t -}}
          </a>
        </div>
      </div>
      <div class="collection_compare_select_contain_body_btn" disable>
        {{ 'common.jetzt_vergleichen' | t }}
        {{ 'icon-right-arrow.svg' | inline_asset_content }}
      </div>
    </div>
  </div>
</div>
<div class="collection_compare_modal">
  <div class="collection_compare_modal_title padding-sider">
    Vergleichen Sie Unsere <br>
    Besten Modelle
  </div>
  <div class="collection_compare_modal_text padding-sider">
    Finden Sie den idealen höhenverstellbaren Schreibtisch für Ihre Bedürfnisse.
  </div>
  <div class="collection_compare_modal_operate padding-sider">
    <div class="collection_compare_modal_show_diff">
      Nur Unterschiede anzeigen
      <div class="collection_compare_product_select">
        {{- 'icon-selected.svg' | inline_asset_content -}}
      </div>
    </div>
    <div class="collection_compare_modal_return">
      Zurück zur Kategorieseite
      {{- 'cart-close.svg' | inline_asset_content -}}
    </div>
  </div>
  <div class="collection_compare_modal_contain"></div>
</div>
