<div class="product_info_modal_item">
  <div class="product_info_modal_item_title_c">
  <div class="product_info_modal_item_left">
    {{ icon }}
    <span class="product_info_modal_item_title">{{ title }}</span>
  </div>
  {{- 'swiper-right.svg' | inline_asset_content -}}
</div>
  <div class="common_modal">
    <div class="common_modal_contain">
      <div class="common_modal_head">
        <span>{{ title }}</span>
        <div class="common_modal_close">{{- 'icon-close.svg' | inline_asset_content -}}</div>
      </div>
      <div class="common_modal_body">
        {{ content}}
      </div>
    </div>
  </div>
</div>
