{% comment %}
------------------------------------------------------------
B2B 特殊优惠 
------------------------------------------------------------
{% endcomment %}
<div class="b2b-spezielle-rabatte  session-box-padding" >
{% unless section.settings.title == blank %}
    <h2 class="padding-bottom-60 session-box-inner">{{ section.settings.title }}</h2>
{% endunless %}
    <div class="b2b-spezielle-rabatte_con session-box-inner">
        {% for block in section.blocks %}
            <div class="rabatte_item">
                <div class="rabatte_item_img">
                    <img src="{{ block.settings.image }}" alt="">
                </div>
                <div class="rabatte_item_con">
                    <h4 class="padding-bottom-20">{{ block.settings.title }}</h4>
                    <h5 class="padding-bottom-20">{{ block.settings.sub_title }}</h5>
                    <div class="text-body">{{ block.settings.description }}</div>
                    <a href="{{ block.settings.link }}" class="nd-btn">{{ block.settings.btn_text }} {{ 'icon-right-arrow.svg' | inline_asset_content }}</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<style>
    .b2b-spezielle-rabatte_con{display:flex;gap:20px;flax-wrap:no-wrap;lex-direction: row;justify-content: space-around;align-items: stretch;}
    .b2b-spezielle-rabatte_con .rabatte_item{width:30%;display: flex;flex-direction: column;justify-content: flex-start;}
    .b2b-spezielle-rabatte_con .rabatte_item_img,.b2b-spezielle-rabatte_con .rabatte_item_img img{width:100%;}
    .b2b-spezielle-rabatte_con .rabatte_item_con{padding:15px 20px;background:#fff;display: flex;flex-direction: column;gap: 5px;justify-content: space-between;
        flex-grow: 1;}
    .b2b-spezielle-rabatte_con h5{font-size:2.4rem;margin-top:5px}
    .b2b-spezielle-rabatte_con .text-body{font-size:1.6rem;color:#7F7E75;font-weight: 300; line-height: 2rem;padding-top:8px;border-top:1px solid #E2DED6}
    .b2b-spezielle-rabatte_con .text-body ul{
        list-style: none;
        padding-left: 0;
        margin-left: 0;
      }
      .b2b-spezielle-rabatte_con .text-body ul li {
        position: relative;
        padding-left: 10px; 
      }
      .b2b-spezielle-rabatte_con .text-body ul li::before {
        content: '';
        position: absolute;
        top: 0.4em; 
        left: 0;
        width: 2px;
        height: 2px;
        background-color: #7F7E75;
        border-radius: 50%;
      }
      .b2b-spezielle-rabatte_con nd-btn{
        width: 100%;
      margin-top: 2rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
</style>

{% schema %}
{
  "name": "B2B Spezialrabatte",
  "tag": "section",
  "class": "section",
  "disabled_on": { "groups": ["header", "footer"] },
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
            "type": "text",
            "id": "sub_title",
            "label": "sub_title"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "description"
        },
        {
          "type": "text",
          "id": "btn_text",
          "label": "btn_text"
        },
        {
          "type": "url",
          "id": "link",
          "label": "link"
        },
      ]
    }
  ],
  "presets": [
    { "name": "Contact Form Two" }
  ]
}
{% endschema %}