{{ 'section-blogs-simple.css' | asset_url | stylesheet_tag }}
{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 767px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
{%- assign swiper_id = 'celebrity_swiper_' | append: section.id -%}
<div class="blogs_simple padding-sider section-{{ section.id }}-padding" id="{{ swiper_id }}">
  <div class="blogs_simple_header">
    <h2 class="blogs_simple_title">{{ section.settings.title }}</h2>
    <h4 class="blogs_simple_text">{{ section.settings.text }}</h4>
  </div>
  <div class="swiper">
    {% assign selected_blog = section.settings.blog %}
    {% assign blocks_count = section.blocks | size %}

    {% if blocks_count > 0 %}
      {% assign article_list = section.blocks %}
    {% else %}
      {% if selected_blog %}
        {% assign article_list = blogs[selected_blog].articles | slice: 0, 5 %}
      {% else %}
        {% assign article_list = blogs.maidesite-blog.articles | slice: 0, 5 %}
      {% endif %}
    {% endif %}

    <div class="swiper-wrapper">
      {% for item in article_list %}
        {% if blocks_count > 0 %}
          {% assign article = item.settings.article %}
        {% else %}
          {% assign article = item %}
        {% endif %}

        <div class="swiper-slide blogs_simple_item">
          <a href="{{ article.url }}">
            {{ article.image | image_url: width: article.image.width | image_tag: alt: article.title }}
            <div class="blogs_simple_item_info">
              <div class="blogs_simple_item_info_tag">{{ 'common.neueste' | t }}</div>
              <h4 class="blogs_simple_item_info_title">{{ article.title }}</h4>
              <div class="blogs_simple_item_info_date text-body">
                {{ article.updated_at | date: '%-d %B. %Y' }}
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>


    <div class="swiper_btn_white swiper_btn_white_prev blogs_simple_prev">{{- 'swiper-left.svg' | inline_asset_content -}}</div>
    <div class="swiper_btn_white swiper_btn_white_next blogs_simple_next">{{- 'swiper-right.svg' | inline_asset_content -}}</div>
  </div>
  <div class="nd_swiper_pagination"></div>
</div>

<script>
  (function() {
    var root = document.getElementById('{{ swiper_id }}');
    var paginationEl = root.querySelector('.nd_swiper_pagination');
    const swiperEl = root.querySelector('.blogs_simple .swiper');
    const nextEl = root.querySelector('.blogs_simple_next');
    const prevEl = root.querySelector('.blogs_simple_prev');
  new Swiper(swiperEl, {
    slidesPerView: 'auto',
    spaceBetween: 20,
    navigation: {
      nextEl: nextEl,
      prevEl: prevEl,
    },
    pagination: {
      el: paginationEl,
      clickable: true,
    },
  });
})();
</script>

{% schema %}
{
  "name": "blogs simple",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "richtext",
      "id": "title",
      "label": "title"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "text"
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "选择一个博客分类"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 120
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 120
    }
  ],
  "blocks": [
    {
      "type": "blog",
      "name": "blog",
      "settings": [
        {
          "type": "article",
          "id": "article",
          "label": "article"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "blogs simple",
      "blocks": [
        {
          "type": "blog"
        }
      ]
    }
  ]
}
{% endschema %}
