{{ 'section-blogs-simple.css' | asset_url | stylesheet_tag }}

<div class="blogs_simple padding-sider">
  <div class="blogs_simple_header">
    <h2 class="blogs_simple_title">{{ section.settings.title }}</h2>
    <h4 class="blogs_simple_text">{{ section.settings.text }}</h4>
  </div>
  <div class="swiper">
    {% assign selected_blog = section.settings.selected_blog %}
    {% assign blocks_count = section.blocks | size %}

    {% if blocks_count > 0 %}
      {% assign article_list = section.blocks %}
    {% else %}
      {% if selected_blog %}
        {% assign article_list = blogs[selected_blog].articles | slice: 0, 5 %}
      {% else %}
        {% assign article_list = blogs.maidesite-blog.articles | slice: 0, 5 %}
      {% endif %}
    {% endif %}

    <div class="swiper-wrapper">
      {% for item in article_list %}
        {% if blocks_count > 0 %}
          {% assign article = item.settings.article %}
        {% else %}
          {% assign article = item %}
        {% endif %}

        <div class="swiper-slide blogs_simple_item">
          <a href="{{ article.url }}">
            {{ article.image | image_url: width: article.image.width | image_tag: alt: article.title }}
            <div class="blogs_simple_item_info">
              <div class="blogs_simple_item_info_tag">{{ 'common.neueste' | t }}</div>
              <h4 class="blogs_simple_item_info_title">{{ article.title }}</h4>
              <div class="blogs_simple_item_info_date text-body">
                {{ article.updated_at | date: '%-d %B. %Y' }}
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>


    <div class="swiper_btn_white swiper_btn_white_prev blogs_simple_prev">{{- 'swiper-left.svg' | inline_asset_content -}}</div>
    <div class="swiper_btn_white swiper_btn_white_next blogs_simple_next">{{- 'swiper-right.svg' | inline_asset_content -}}</div>
  </div>
</div>

<script>
  new Swiper('.blogs_simple .swiper', {
    slidesPerView: 'auto',
    spaceBetween: 20,
    navigation: {
      nextEl: '.blogs_simple_next',
      prevEl: '.blogs_simple_prev',
    },
  });
</script>

{% schema %}
{
  "name": "blogs simple",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "richtext",
      "id": "title",
      "label": "title"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "text"
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "选择一个博客分类"
    }
  ],
  "blocks": [
    {
      "type": "blog",
      "name": "blog",
      "settings": [
        {
          "type": "article",
          "id": "article",
          "label": "article"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "blogs simple",
      "blocks": [
        {
          "type": "blog"
        }
      ]
    }
  ]
}
{% endschema %}
