{{ 'section-boxgrid-simple.css' | asset_url | stylesheet_tag }}

<div class="boxgrid_simple_section padding-sider">
  <div class="boxgrid_simple">
    <h2 class="boxgrid_simple_title">{{ section.settings.title }}</h2>
    <h4 class="boxgrid_simple_text">{{ section.settings.text }}</h4>
    <div class="boxgrid_simple_contain">
      {% for block in section.blocks %}
        <div class="boxgrid_simple_item{% if block.settings.active == "true" %} active{% endif %}{% if forloop.index0 < 3 %} first_line{% endif %}">
          <h3 class="boxgrid_simple_item_title">{{ block.settings.title }}</h3>
          <div class="boxgrid_simple_item_text text-body">{{ block.settings.text }}</div>
          {{ block.settings.icon }}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "boxgrid simple",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "richtext",
      "id": "title",
      "label": "title"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "text"
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "item",
      "settings": [
        {
          "type": "richtext",
          "id": "title",
          "label": "title"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "text"
        },
        {
          "type": "textarea",
          "id": "icon",
          "label": "icon"
        },
        {
          "type": "radio",
          "id": "active",
          "label": "active type",
          "default": "false",
          "options": [
            {
              "value": "false",
              "label": "false"
            },
            {
              "value": "true",
              "label": "true"
            }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "boxgrid simple",
      "blocks": [
        {
          "type": "item"
        }
      ]
    }
  ]
}
{% endschema %}
