{% comment %}
------------------------------------------------------------
Brand swipe - 品牌logo轮播 红人页面那种
------------------------------------------------------------
{% endcomment %}
<div class="brand_swiper session-box-padding overflow-hidden padding-top-120" id="brand_swiper_section-{{ section.id }}">
    <div class="brand_swiper_header session-box-inner padding-bottom-60">
    {% unless section.settings.title == blank %}
        <h2 class="brand_swiper_title">{{ section.settings.title }}</h2>
    {% endunless %}
      <div class="swiper_btn">
        <div class="brand_swiper_prev">{{- 'swiper-left.svg' | inline_asset_content -}}</div>
        <div class="brand_swiper_next">{{- 'swiper-right.svg' | inline_asset_content -}}</div>
      </div>
    </div>
  
    <div class="swiper brand_swiper_con session-box-inner">
        <div class="swiper-wrapper">
          {% for block in section.blocks %}
            <div class="swiper-slide">
                {{-
                    block.settings.logo
                    | image_url: width: block.settings.logo.width
                    | image_tag: alt: block.settings.title, class: 'brand_swiper_logo'
                  -}}
                  
                <h4>{{ block.settings.title }}</h4>
                <div class="text-body">{{ block.settings.description }}</div>
                <a href="{{ block.settings.link }}" class="learn-more">{{ section.settings.btn_text }}</a>
            </div>
          {% endfor %}
        </div>
    </div>
</div>

<style>
    .brand_swiper_header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .brand_swiper_header .swiper_btn{
        width: 18rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    .brand_swiper_header .brand_swiper_prev,
    .brand_swiper_header .brand_swiper_next {
        width: 6rem;
        height: 6rem;
        background-color: #E2DED6;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    .brand_swiper_header .brand_swiper_prev:hover,
    .brand_swiper_header .brand_swiper_next:hover {
        background-color: rgba(31, 31, 31, .6);
    }
    .brand_swiper_header .brand_swiper_prev:hover svg path,
    .brand_swiper_header .brand_swiper_next:hover svg path {
        fill: #BDFF00;
    }

    .brand_swiper .swiper-slide {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: left;
      }
    
    .brand_swiper .swiper-slide .brand_swiper_logo {
        margin-bottom: 3rem;
        height:auto;
        width: 60%;
        display: block;
    }
    
    .brand_swiper .swiper-slide h4 {
        margin-bottom: 1.3rem;
    }
    
    .brand_swiper .swiper-slide .text-body {
        color: #1F1F1F;
        flex-grow: 1;
        line-height: 1.3em;
    }
    
    .brand_swiper .swiper-slide .learn-more {
        padding: 4px 8px;
        background-color: #fff;
        display: inline-block;
        margin-top: 3rem;
        font-weight: 500;
        font-size: 2.4rem;
        color: #1F1F1F;
        width: max-content;
        line-height: 1.3em;
        transition: all .3s;
    }
    .brand_swiper .swiper-slide .learn-more:hover {
        background-color: #BDFF00;
    }
    @media only screen and (max-width: 1024px) {
        .brand_swiper .swiper-slide .learn-more {
            font-size: 1.8rem;
        }
    }
    @media only screen and (max-width: 768px) {
      .brand_swiper_header .swiper_btn{
          display: none;
      }
  }

</style>

<script>
    (() => {
        const sectionId = '{{ section.id }}';
        const sectionEl = document.getElementById('brand_swiper_section-' + sectionId);
        if (!sectionEl) return;
      
        const tabItems = sectionEl.querySelectorAll('.img_with_text_tab_head_item');
        const swiperEl = sectionEl.querySelector('.brand_swiper_con');
    
        const prevBtn = sectionEl.querySelector('.brand_swiper_prev');
        const nextBtn = sectionEl.querySelector('.brand_swiper_next');
      
        const brandSwiper = new Swiper(swiperEl, {
            slidesPerView: 1.2,
            slidesPerGroup: 1,
            grid: {
              rows: 1,
              fill: 'row'
            },
            spaceBetween: 30,
            navigation: {
              nextEl: nextBtn,
              prevEl: prevBtn
            },
            breakpoints: {
              1024: {
                slidesPerView: 3,
                slidesPerGroup: 3,
                grid: {
                  rows: 2
                }
              },
              768: {
                slidesPerView: 2.2,
                slidesPerGroup: 2,
                grid: {
                  rows: 2
                }
              }
            }
          });
      })();
  </script>
  
{% schema %}
{
  "name": "Brand In The Press",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "Button Title"
    }
  ],
  "blocks": [
    {
      "type": "swiper",
      "name": "swiper",
      "settings": [
        {
          "type": "image_picker",
          "id": "logo",
          "label": "Logo"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Brand In The Press",
      "category": "Custom"
    }
  ]
}
{% endschema %}
