{{ 'section-bundle-simple.css' | asset_url | stylesheet_tag }}

<div class="bundle_simple padding-sider">
  <div class="bundle_simple_title">{{ section.settings.title }}</div>
  <div class="bundle_simple_text">{{ section.settings.text }}</div>
  <div class="bundle_simple_contain">
    <div class="bundle_simple_contain_left">
      {% for product in section.settings.product_list %}
        <div class="bundle_simple_product">
          <div class="bundle_simple_product_img">
            {{-
              product.selected_or_first_available_variant.featured_image
              | image_url: width: product.selected_or_first_available_variant.featured_image.width
              | image_tag: alt: product.title
            -}}
          </div>
          <div class="bundle_simple_product_info">
            <div>
              <div class="bundle_simple_product_title">{{ product.title }}</div>
              <div class="bundle_simple_product_price">
                {% if product.selected_or_first_available_variant.compare_at_price != blank %}
                  {{ product.selected_or_first_available_variant.compare_at_price | money_without_trailing_zeros }}
                {% else %}
                  {{ product.selected_or_first_available_variant.price | money_without_trailing_zeros }}
                {% endif %}
              </div>
            </div>
            <div class="bundle_simple_product_btn">
              {{ section.settings.product_link_text }}
              {{ 'icon-right-arrow.svg' | inline_asset_content }}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="bundle_simple_contain_right">
      <div class="bundle_simple_box_head">{{ section.settings.bundle_title }}</div>
      <div class="bundle_simple_box_body">
        <div class="bundle_simple_box_body_text">{{ section.settings.bundle_text }}</div>
        <div class="bundle_simple_box_body_list"></div>
        <div class="bundle_simple_box_body_price">
          <span>{{ 'common.total' | t }}</span>
          <span class="bundle_simple_box_body_price_item"></span>
        </div>
        <div class="bundle_simple_box_body_btn">
          {{ section.settings.bundle_link_text }}
          {{ 'icon-right-arrow.svg' | inline_asset_content }}
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  const product_list = {{ section.settings.product_list | json }}
</script>

{% schema %}
{
  "name": "bundle simple",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "richtext",
      "id": "title",
      "label": "title"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "text"
    },
    {
      "type": "product_list",
      "id": "product_list",
      "label": "product list"
    },
    {
      "type": "text",
      "id": "product_link_text",
      "label": "product link text"
    },
    {
      "type": "richtext",
      "id": "bundle_title",
      "label": "bundle box title"
    },
    {
      "type": "richtext",
      "id": "bundle_text",
      "label": "bundle box text"
    },
    {
      "type": "text",
      "id": "bundle_link_text",
      "label": "bundle link text"
    },
    {
      "type": "textarea",
      "id": "color_label",
      "label": "color select option name"
    }
  ],
  "presets": [
    {
      "name": "bundle simple"
    }
  ]
}
{% endschema %}
