{{ 'section-collection-compare.css' | asset_url | stylesheet_tag }}

<div class="collection_compare">
  {% if section.settings.show_banner %}
    <div class="collection_compare_banner padding-sider">
      {% if section.settings.image != blank %}
        <img src="{{ section.settings.image | image_url }}" alt="{{ collection.title }}">
      {% endif %}
      {% if section.settings.video != blank %}
        {{
          section.settings.video
          | video_tag: autoplay: true, loop: true, muted: true, playsinline: true, preload: 'auto'
        }}
      {% endif %}
      <div class="collection_compare_banner_contain">
        <div class="collection_compare_banner_title">{{ collection.title }}</div>
        <div class="collection_compare_banner_text">{{ collection.description }}</div>
      </div>
    </div>
  {% endif %}
  <div class="collection_compare_contain padding-sider">
    <div class="collection_compare_contain_head">
      <div class="collection_compare_contain_head_left">
        <span>{{ 'common.filter' | t }}</span>
        {{- 'icon-filter.svg' | inline_asset_content -}}
      </div>
      <div class="collection_compare_contain_head_right">
        <div class="flex_center">
          <span>{{ 'common.sortieren_nach' | t }}</span>
          <div>
            <span>{{ 'common.ausgewahlt' | t }}</span>
            {{- 'icon-select-down.svg' | inline_asset_content -}}
          </div>
        </div>
        <div class="flex_center">
          <span>{{ 'common.vergleichen' | t }}</span>
          <div></div>
          <span>{{ 'common.ansicht_als' | t }}</span>
          <div class="collection_compare_contain_showtype">{{- 'icon-list.svg' | inline_asset_content -}}</div>
          <div class="collection_compare_contain_showtype active">{{- 'icon-grid.svg' | inline_asset_content -}}</div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "collection compare",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "show_banner",
      "label": "show banner",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "banner image"
    },
    {
      "type": "video",
      "id": "video",
      "label": "banner video"
    }
  ],
  "presets": [
    {
      "name": "collection compare"
    }
  ]
}
{% endschema %}
