{{ 'section-collection-compare.css' | asset_url | stylesheet_tag }}

{% assign product_list = collection.products %}
<div class="collection_compare">
  {% if section.settings.show_banner %}
    <div class="collection_compare_banner padding-sider">
      {% if section.settings.image != blank %}
        <img src="{{ section.settings.image | image_url }}" alt="{{ collection.title }}">
      {% endif %}
      {% if section.settings.video != blank %}
        {{
          section.settings.video
          | video_tag: autoplay: true, loop: true, muted: true, playsinline: true, preload: 'auto'
        }}
      {% endif %}
      <div class="collection_compare_banner_contain">
        <div class="collection_compare_banner_title">{{ collection.title }}</div>
        <div class="collection_compare_banner_text">{{ collection.description }}</div>
      </div>
    </div>
  {% endif %}
  <div class="collection_compare_contain padding-sider">
    <div class="collection_compare_contain_head">
      <div class="collection_compare_contain_switchfilter" data-type="open">
        <span>{{ 'common.filter' | t }}</span>
        {{- 'icon-filter.svg' | inline_asset_content -}}
      </div>
      <div class="collection_compare_contain_head_right">
        <div class="flex_center">
          <span class="collection_compare_contain_head_label">{{ 'common.sortieren_nach' | t }}</span>
          <div class="collection_compare_contain_sort">
            {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
            {%- for option in collection.sort_options %}
              {%- if option.value == sort_by %}
                {% assign sort_by_name = option.name %}
              {%- endif %}
            {% endfor -%}
            <span class="collection_compare_contain_sort_label">{{ sort_by_name }}</span>
            {{- 'icon-select-down.svg' | inline_asset_content -}}
            <div class="collection_compare_contain_sort_select">
              {%- for option in collection.sort_options %}
                <div
                  value="{{ option.value }}"
                  {%- if option.value == sort_by %}
                    selected="selected"
                  {%- endif %}
                  class="collection_compare_contain_sort_select_item"
                >
                  {{ option.name }}
                </div>
              {% endfor -%}
            </div>
          </div>
        </div>
        <div class="flex_center">
          <div class="flex_center collection_compare_contain_select_switch_box">
            <span class="collection_compare_contain_head_label">{{ 'common.vergleichen' | t }}</span>
            <div class="collection_compare_contain_select_switch"></div>
          </div>
          <span class="collection_compare_contain_head_label">{{ 'common.ansicht_als' | t }}</span>
          <div class="collection_compare_contain_showtype" data-type="list">
            {{- 'icon-list.svg' | inline_asset_content -}}
          </div>
          <div class="collection_compare_contain_showtype active" data-type="grid">
            {{- 'icon-grid.svg' | inline_asset_content -}}
          </div>
        </div>
      </div>
    </div>
    <div class="collection_compare_contain_body">
      <div class="collection_compare_contain_body_left facets-vertical">
        {% render 'collection-facets', results: collection, filter_type: 'vertical' %}
      </div>
      <div class="collection_compare_contain_body_right" data-id="{{ section.id }}">
        {% paginate collection.products by 6 %}
          <div class="collection_compare_product_contain">
            {% for product in collection.products %}
              <a
                class="collection_compare_product"
                data-type="{{ product.type | handleize }}"
                href="{{ product.url }}"
                data-id="{{ product.id }}"
              >
                <div class="collection_compare_product_img">
                  <img src="{{ product.featured_media | image_url }}" alt="{{ product.title }}">
                  <div class="collection_compare_product_select">
                    {{- 'icon-selected.svg' | inline_asset_content -}}
                  </div>
                </div>
                <div class="collection_compare_product_info">
                  <div class="collection_compare_product_title">{{ product.title }}</div>
                  <div>
                    {% render 'product-rating', product: product %}
                    <div class="collection_compare_product_price">
                      <div>
                        {{ product.price | money_without_trailing_zeros }}
                      </div>
                      {% if product.compare_at_price != blank %}
                        <div class="collection_compare_product_price_cap">
                          {{ product.compare_at_price | money_without_trailing_zeros }}
                        </div>
                      {% endif %}
                    </div>
                    <div class="collection_compare_product_btn">
                      {{ 'common.en_savoir_plus' | t }}
                      {{ 'icon-right-arrow.svg' | inline_asset_content }}
                    </div>
                  </div>
                </div>
              </a>
            {% endfor %}
          </div>

          {%- if paginate.pages > 1 -%}
            <div
              class="collection_compare_pagination{% unless paginate.next.is_link %} hidden{% endunless %}"
              data-is-more-results="{{ paginate.next.is_link }}"
            >
              <div class="collection_compare_pagination_contain">
                {%- liquid
                  assign visible_results = paginate.current_page | times: paginate.page_size | at_most: paginate.items
                  assign total_items_float = paginate.items | plus: 0.0
                  assign pagination_percent = 100 | divided_by: total_items_float | times: visible_results | round: 1
                -%}
                <div class="collection_compare_pagination_contain_message">
                  {{- 'common.position_results' | t: visible_results: visible_results, total_results: paginate.items -}}
                </div>
                <div
                  class="collection_compare_pagination_contain_bar"
                  style="--pagination-percent: {{ pagination_percent }}%;"
                ></div>
                <a href="{{ paginate.next.url }}" class="collection_compare_pagination_contain_btn">
                  {{ 'common.show_more' | t }}
                </a>
              </div>
            </div>
          {% endif %}
        {% endpaginate %}
      </div>
    </div>
  </div>
  {% render 'collection-compare-select' %}
</div>

<script type="application/json" id="collection_compare_data">
  {% for currency in shop.enabled_currencies %}
    {% if currency.iso_code == shop.currency %}
      {%- assign currency_symbol = currency.symbol -%}
      {% break %}
    {% endif %}
  {% endfor %}
  {
    {% for product in product_list %}
      "{{ product.id }}": {
        "product": {{- product | json -}},
        "symbol": {{ currency_symbol | json }}
      }{% unless forloop.last %},{% endunless %}
    {% endfor %}
  }
</script>
<script src="{{ 'collection-compare.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'collection-facets.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "collection compare",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "show_banner",
      "label": "show banner",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "banner image"
    },
    {
      "type": "video",
      "id": "video",
      "label": "banner video"
    }
  ],
  "presets": [
    {
      "name": "collection compare"
    }
  ]
}
{% endschema %}
