{{ 'section-collection-default.css' | asset_url | stylesheet_tag }}

<div class="collection_default_section padding-sider">
  <div class="collection_default">
    <div class="collection_default_title">{{ section.settings.title }}</div>
    <div class="collection_default_text">{{ section.settings.text }}</div>
    <div class="collection_default_head">
      {% for collection in section.settings.collection_list %}
        <div class="collection_default_head_item">{{ collection.title }}</div>
      {% endfor %}
    </div>
    {% paginate collection.products by 12 %}
      <div class="collection_default_contain">
        {% for product in collection.products %}
          <a class="collection_default_product" data-type="{{ product.type | handleize }}" href="{{ product.url }}">
            <div class="collection_default_product_img">
              <img src="{{ product.featured_media | image_url }}" alt="{{ product.title }}">
            </div>
            <div class="collection_default_product_info">
              <div class="collection_default_product_title">{{ product.title }}</div>
              <div>
                {% render 'product-rating', product: product %}
                <div class="collection_default_product_price">
                  <div>
                    {{ product.price | money_without_trailing_zeros }}
                  </div>
                  {% if product.compare_at_price != blank %}
                    <div class="collection_default_product_price_cap">
                      {{ product.compare_at_price | money_without_trailing_zeros }}
                    </div>
                  {% endif %}
                </div>
                <div class="collection_default_product_btn">
                  {{ 'common.jetzt_konfigurieren' | t }}
                  {{ 'icon-right-arrow.svg' | inline_asset_content }}
                </div>
              </div>
            </div>
          </a>
        {% endfor %}
      </div>

      {% if paginate.pages > 1 %}
        <div class="custom-pagination">
          {% if paginate.previous %}
            <a href="{{ paginate.previous.url }}" class="ajax-pagination prev">
              {{- 'arrow-left.svg' | inline_asset_content -}}
            </a>
          {% endif %}

          {% for i in (1..paginate.pages) %}
            {% if i == paginate.current_page %}
              <span class="current-page page">{{ i }}</span>
            {% else %}
              <a
                href="{{ request.path }}?page={{ i }}"
                class="ajax-pagination page"
                data-page="{{ i }}"
              >
                {{ i }}
              </a>
            {% endif %}
          {% endfor %}

          {% if paginate.next %}
            <a href="{{ paginate.next.url }}" class="ajax-pagination next">
              {{- 'arrow-right.svg' | inline_asset_content -}}
            </a>
          {% endif %}
        </div>
      {% endif %}
    {% endpaginate %}
  </div>
</div>

{% schema %}
{
  "name": "collection default",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "richtext",
      "id": "title",
      "label": "title"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "text"
    },
    {
      "type": "collection_list",
      "id": "collection_list",
      "label": "collection list"
    }
  ],
  "presets": [
    {
      "name": "collection default"
    }
  ]
}
{% endschema %}
