{{ 'section-compare-simple.css' | asset_url | stylesheet_tag }}

<div class="compare_simple">
  <div class="compare_simple_contain">
    <div class="compare_simple_contain_head">
      <div>
        <div class="compare_simple_contain_head_title">{{ section.settings.title }}</div>
        <div class="compare_simple_contain_head_text">{{ section.settings.text }}</div>
      </div>
      <div class="compare_simple_contain_head_link">
        {{ section.settings.link_text }}
        {{ 'icon-right-arrow.svg' | inline_asset_content }}
      </div>
    </div>
    <div class="compare_simple_contain_body">
      {% for block in section.blocks -%}
        <div class="compare_simple_item">
          <div class="swiper compare_simple_item_swiper_{{ block.settings.select_product.id }}">
            <div class="swiper-wrapper">
              {% for option in block.settings.select_product.options_with_values %}
                {%- case option.name -%}
                  {%- when 'Farbe Gestel' -%}
                    {% for value in option.values %}
                      <div class="swiper-slide">
                        <img
                          src="{{ value.variant.featured_image | image_url }}"
                          alt="{{ value.variant.title }}"
                        >
                        <div class="compare_simple_item_title">{{ value.variant.title }}</div>
                      </div>
                    {%- endfor %}
                {%- endcase -%}
              {%- endfor %}
            </div>
          </div>
          <div class="compare_simple_item_color">
            {% for color in block.settings.select_product.metafields.custom.product_color.value %}
              <div class="compare_simple_item_color_circle" style="background-color: {{ color.value }}"></div>
            {%- endfor %}
          </div>
          <div class="compare_simple_item_price">
            {% assign price = block.settings.select_product.price | money_without_trailing_zeros %}
            {{ 'products.product.price.from_price_html' | t: price: price }}
          </div>
          {% for item in block.settings.select_product.metafields.custom.compare_simple.value.data.value %}
            <div class="compare_simple_item_line">
              <div class="compare_simple_item_line_label">{{ item.label }}</div>
              <div class="compare_simple_item_line_value">{{ item.value }}</div>
            </div>
          {%- endfor %}
        </div>
      {%- endfor %}
    </div>
  </div>
</div>

<script>
  const swiper_list = document.querySelectorAll('[class^="compare_simple_item_swiper_"]');
  swiper_list.forEach((item) => {
    console.log(item)
    const compare_simple_item_swiper = new Swiper(item, {
      slidesPerView: 1,
      spaceBetween: 0,
      allowTouchMove: false,
    });
  });
</script>

{% schema %}
{
  "name": "compare simple",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "richtext",
      "id": "title",
      "label": "title"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "text"
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "link text"
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "item",
      "settings": [
        {
          "type": "product",
          "id": "select_product",
          "label": "product"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "compare simple",
      "blocks": [
        {
          "type": "item"
        }
      ]
    }
  ]
}
{% endschema %}
