{% comment %}
------------------------------------------------------------
Contact Form Four Section - 联系表单 红人页面那种
------------------------------------------------------------
{% endcomment %}
<div class="contact-form-four session-box-padding overflow-hidden" 
style="background-image: url('{{ section.settings.image | image_url: width: section.settings.image.width }}'); "
aria-label="conatct"
>
    <div class="contact-form-four__content session-box-inner">
        <div class="form__content">
          {% unless section.settings.title == blank %}
            <h2 class="one__title">{{ section.settings.title }}</h2>
          {% endunless %}
          {% unless section.settings.desc == blank %}
            <h4 class="one__desc">{{ section.settings.desc }}</h4>
          {% endunless %}
            {%- form 'contact', id: 'ContactFormFour', class: contact_form_class -%}

              {%- if form.posted_successfully? -%}
                <p class="form-status form__message success" tabindex="-1" autofocus>
                  Ihre Nachricht wurde erfolgreich gesendet.
                </p>
              {%- elsif form.errors -%}
                <div class="form__message error" role="alert" tabindex="-1" autofocus>
                  Fehler beim Senden des Formulars. Bitte überprüfen Sie Ihre Eingaben.
                </div>
              {%- endif -%}
          
              <div class="form-grid">
                <div class="form-grid-field field--with-error">
                  <input
                    autocomplete="email"
                    type="email"
                    id="ContactFormFour-email"
                    class="field__input"
                    name="contact[email]"
                    spellcheck="false"
                    autocapitalize="off"
                    required
                    value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                    {% if form.errors contains 'email' %}
                      aria-invalid="true"
                      aria-describedby="ContactFormFour-email-error"
                    {% endif %}
                    placeholder="{{ section.settings.mail_placeholder }}"
                  >
                  {%- if form.errors contains 'email' -%}
                    <small class="contact__field-error" id="ContactFormFour-email-error">
                      {{ form.errors.messages.email }}
                    </small>
                  {%- endif -%}
                </div>
          
                <div class="form-grid-field">
                  <input
                    type="text"
                    id="ContactFormFour-press"
                    class="field__input"
                    name="contact[press]"
                    placeholder="{{ section.settings.type_placeholder }}"
                  >
                </div>
              </div>

              {% assign dropdowns = section.blocks | where: "type", "dropdown" %}
              {% assign groups = section.blocks | where: "type", "group" %}
              {% assign options = section.blocks | where: "type", "option" %}

              {% for dropdown in dropdowns %}
                {% assign dropdown_key = dropdown.settings.key %}
                <div class="form-grid">
                  <div class="form-grid-field all-row">
                    <select
                      id="ContactFormFour-{{ dropdown_key }}"
                      name="contact[{{ dropdown.settings.field_name }}]"
                      class="field__input"
                      {% if dropdown.settings.required %}required{% endif %}
                    >
                      <option value="" disabled selected hidden>{{ dropdown.settings.label }}</option>

                      {% for group in groups %}
                        {% if group.settings.dropdown_key == dropdown_key %}
                          <optgroup label="{{ group.settings.label }}">
                            {% assign group_key = group.settings.key %}
                            {% for opt in options %}
                              {% if opt.settings.group_key == group_key %}
                                <option value="{{ opt.settings.value }}">{{ opt.settings.label }}</option>
                              {% endif %}
                            {% endfor %}
                          </optgroup>
                        {% endif %}
                      {% endfor %}
                    </select>
                  </div>
                </div>
              {% endfor %}

          
              <div class="form-grid-field">
                <textarea
                  rows="7"
                  id="ContactFormFour-body"
                  class="text-area field__input"
                  name="contact[body]"
                  placeholder="{{ section.settings.message_placeholder }}"
                >{{- form.body -}}</textarea>
              </div>
          
              <button type="submit" class="submit-button nd-btn">
                {{ section.settings.btn_text }}
                {{ 'icon-right-arrow.svg' | inline_asset_content }}
              </button>
          
            {%- endform -%}
        </div>
    </div>
</div>
<style>
  .contact-form-four:before{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: linear-gradient(269deg, #000000 50%, rgba(255, 255, 255, 0) 98%);
    opacity: 0.4;
  }
    .contact-form-four{
        background-size: cover; background-position: center;
        min-height: 96rem;
        display: flex;
        align-items: center;
        position: relative;
    }
    .contact-form-four__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        position: relative;
        z-index: 1;
    }
    .contact-form-four .form__content{
        display: flex;
        gap:3rem;
        width:72rem;
        flex-direction: column;
    }
    .contact-form-four .one__title,.contact-form-four .one__desc{
        color: #fff;
    }


    .contact-form-four .form-grid {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
      margin-bottom: 15px;
    }
    
    .contact-form-four .form-grid .form-grid-field {
      flex: 1 1 calc(50% - 8px);
    }
    .contact-form-four .form-grid-field.all-row {
      flex: 1 1 100%;
    }
    
    .contact-form-four .field__input,
    textarea.text-area {
      width: 100%;
      padding: 10px 12px;
      font-size: 2.4rem;
      border: none;
      border-radius: 0px;
      background: #fff;
      color: rgb(var(--color-foreground));
      font-weight:400;
      height: 5rem;
      line-height: 1.1em;
    }
    .contact-form-four select.field__input {
      appearance: none;
      background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0l5 6 5-6z' fill='%237F7E75'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: right 12px center;
      background-size: 10px 6px;
    }
    .contact-form-four select.field__input option[disabled],.contact-form-four select.field__input:invalid{
      color: #7F7E75; 
    }
    .contact-form-four .field__input::placeholder,.contact-form-four textarea.text-area::placeholder {
      color: #7F7E75;  
      opacity: 1;
      font-size: 2.4rem;
      font-weight:400;
    }
    /* Firefox */
    .field__input::-moz-placeholder,textarea::-moz-placeholder {
      color: #7F7E75;
      opacity: 1;
      font-size: 2.4rem;
      font-weight:400;
    }

    /* IE 10-11 */
    .field__input:-ms-input-placeholder,textarea::-moz-placeholder {
      color: #7F7E75;
      opacity: 1;
      font-size: 2.4rem;
      font-weight:400;
    }

    /* Microsoft Edge */
    .field__input::-ms-input-placeholder,textarea::-moz-placeholder {
      color: #7F7E75;
      opacity: 1;
      font-size: 2.4rem;
      font-weight:400;
    }

    
    .contact-form-four textarea.text-area {
      min-height: 120px;
      resize: vertical;
      margin-bottom: 15px;
    }
    
    .contact-form-four .submit-button {
      border: none;
      padding: 2rem;
      height: auto;
      width: 50%;
      display: flex;
      justify-content: space-between;
      margin-top: 1rem;
    }
    
    {% comment %} .contact-form-four .submit-button:hover {
      background-color: #bfee00;
    } {% endcomment %}
    
    .contact-form-four .form__message.success {
      color: #00ff66;
      font-weight: bold;
      margin-bottom: 20px;
    }
    
    .contact-form-four .form__message.error {
      color: #ff4d4f;
      font-weight: bold;
      margin-bottom: 20px;
    }
    
    .contact-form-four .contact__field-error {
      color: #ff4d4f;
      font-size: 13px;
      margin-top: 4px;
      display: block;
    }
    @media only screen and (max-width: 767px) {
      .contact-form-four .form__content{
        width:100%;
      }
      .contact-form-four .field__input,
      textarea.text-area,.contact-form-four .field__input::placeholder,
      .contact-form-four textarea.text-area::placeholder,
      .field__input::-moz-placeholder,textarea::-moz-placeholder, 
      .field__input:-ms-input-placeholder,textarea::-moz-placeholder,
      .field__input::-ms-input-placeholder,textarea::-moz-placeholder{
        font-size: 1.8rem;
      }
      .contact-form-four .form-grid .form-grid-field {
        flex: 1 1 calc(100%);
    }
    }
    
</style>

{% schema %}
{
  "name": "Contact Form Four",
  "tag": "section",
  "class": "section",
  "disabled_on": { "groups": ["header", "footer"] },
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Background Image"
    },
    {
        "type": "text",
        "id": "desc",
        "label": "desc"
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "Button Text",
      "default": "Absenden"
    },
    {
      "type": "text",
      "id": "mail_placeholder",
      "label": "E-Mail Placeholder",
      "default": "Deine E-Mail"
    },
    {
      "type": "text",
      "id": "type_placeholder",
      "label": "Type Placeholder",
      "default": "Deine Presse-/Blog-Seite"
    },
    {
      "type": "text",
      "id": "message_placeholder",
      "label": "Message Placeholder",
      "default": "Nachricht (optional)"
    }
  ],
  "blocks": [
    {
      "type": "dropdown",
      "name": "Dropdown",
      "settings": [
        {
          "type": "text",
          "id": "key",
          "label": "唯一标识（如：standing-desk）"
        },
        {
          "type": "text",
          "id": "label",
          "label": "占位提示（如：Stehschreibtisch）"
        },
        {
          "type": "text",
          "id": "field_name",
          "label": "字段名称（如：standing-desk）"
        },
        {
          "type": "checkbox",
          "id": "required",
          "label": "是否为必填项",
          "default": true
        }
      ]
    },
    {
      "type": "group",
      "name": "Gruppe",
      "settings": [
        {
          "type": "text",
          "id": "dropdown_key",
          "label": "归属 Dropdown-Key（如：standing-desk）"
        },
        {
          "type": "text",
          "id": "label",
          "label": "分组名称（如：Bestellung）"
        },
        {
          "type": "text",
          "id": "key",
          "label": "分组唯一 Key（如：bestellung）"
        }
      ]
    },
    {
      "type": "option",
      "name": "Option",
      "settings": [
        {
          "type": "text",
          "id": "group_key",
          "label": "归属 Group-Key（如：bestellung）"
        },
        {
          "type": "text",
          "id": "label",
          "label": "显示文字（如：1 Stück）"
        },
        {
          "type": "text",
          "id": "value",
          "label": "提交值"
        }
      ]
    }
  ],
  "presets": [
    { "name": "Contact Form Four" }
  ]
}
{% endschema %}