{% comment %}
------------------------------------------------------------
Contact Form Three Section - 联系表单 联系我们页面
------------------------------------------------------------
{% endcomment %}
<div class="contact-form-two session-box-padding overflow-hidden" 
style="background-image: url('{{ section.settings.image | image_url: width: section.settings.image.width }}'); "
aria-label="contact"
>
    <div class="contact-form-two__content session-box-inner">
        <div class="form_left">
          <h2 class="padding-bottom-30">{{ section.settings.title }}</h2>
          <h4 class="">{{ section.settings.desc }}</h4>
          <div class="text-body">{{ section.settings.text_content }}</div>
        </div>
        <div class="form__content">
            
            {%- form 'contact', id: 'ContactFormThree', class: contact_form_class -%}

              {%- if form.posted_successfully? -%}
                <p class="form-status form__message success" tabindex="-1" autofocus>
                  Ihre Nachricht wurde erfolgreich gesendet.
                </p>
              {%- elsif form.errors -%}
                <div class="form__message error" role="alert" tabindex="-1" autofocus>
                  Fehler beim Senden des Formulars. Bitte überprüfen Sie Ihre Eingaben.
                </div>
              {%- endif -%}
          
              <div class="form-grid">
                <div class="form-grid-field">
                  <input
                    type="text"
                    id="ContactFormThree-name"
                    class="field__input"
                    name="contact[name]"
                    value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}"
                    placeholder="Vor-und Nachname"
                  >
                </div>
                <div class="form-grid-field field--with-error">
                  <input
                    autocomplete="email"
                    type="email"
                    id="ContactFormThree-email"
                    class="field__input"
                    name="contact[email]"
                    spellcheck="false"
                    autocapitalize="off"
                    required
                    value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                    {% if form.errors contains 'email' %}
                      aria-invalid="true"
                      aria-describedby="ContactFormThree-email-error"
                    {% endif %}
                    placeholder="E-Mail-Adresse"
                  >
                  {%- if form.errors contains 'email' -%}
                    <small class="contact__field-error" id="ContactFormThree-email-error">
                      {{ form.errors.messages.email }}
                    </small>
                  {%- endif -%}
                </div>

                <div class="form-grid-field">
                  <input
                    type="text"
                    id="ContactFormThree-type"
                    class="field__input"
                    name="contact[type]"
                    placeholder="Art der Anfrage"
                  >
                </div>

                <div class="form-grid-field">
                  <input
                    type="tel"
                    id="ContactFormThree-phone"
                    class="field__input"
                    autocomplete="tel"
                    name="contact[phone]"
                    pattern="[0-9\-]*"
                    value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}"
                    placeholder="Telefonnummer (optional)"
                  >
                </div>

                <div class="form-grid-field">
                  <input
                    type="text"
                    id="ContactFormThree-company"
                    class="field__input"
                    name="contact[company]"
                    placeholder="Unternehmen (optional)"
                  >
                </div>

                <div class="form-grid-field">
                  <input
                    type="text"
                    id="ContactFormThree-message"
                    class="field__input"
                    name="contact[message]"
                    autocomplete="name"
                    value="{% if form.message %}{{ form.message }}{% elsif customer %}{{ customer.message }}{% endif %}"
                    placeholder="Nachricht (optional)"
                  >
                </div>
              </div>

              <div class="form-grid">
              <div class="form-grid-field all-row">
                <select id="ContactFormThree-query-type" name="contact[query-type]" class="field__input">
                  <option value="" disabled selected>Query Type</option>
                  <option value="1">1 Stück</option>
                  <option value="2">2 Stück</option>
                  <option value="3">3 Stück</option>
                  <option value="4">4 Stück</option>
                  <option value="5+">5+ Stück</option>
                </select>
              </div>
              </div>
          
              <div class="form-grid-field">
                <textarea
                  rows="7"
                  id="ContactFormThree-body"
                  class="text-area field__input"
                  name="contact[body]"
                  placeholder="Kommentar"
                >{{- form.body -}}</textarea>
              </div>
          
              <button type="submit" class="submit-button nd-btn">
                Absenden
                {{ 'icon-right-arrow.svg' | inline_asset_content }}
              </button>
          
            {%- endform -%}
        </div>
    </div>
</div>
<style>
  
    .contact-form-two{
        background-size: cover; background-position: center;
        padding-top: 12rem;
        padding-bottom:12rem;
        background-color: transparent;
        display: flex;
        align-items: center;
        position: relative;
    }
    .contact-form-two__content{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
        position: relative;
        z-index: 1;
        position: relative;
        z-index: 1;
        gap:5rem;
    }
    .contact-form-two .form_left{
      width:35%
    }
    .contact-form-two .text-body{
      margin-top: 1.5rem;
    }
    .contact-form-two .text-body ul{
      list-style: none;
      padding-left: 0;
      margin-left: 0;
    }
    .contact-form-two .text-body ul li {
      position: relative;
      padding-left: 16px; 
      margin-bottom: 6px;
      font-size: 2.4rem;
      font-weight: 300;
      line-height: 4rem;
      color:#1F1F1F;
    }
    .contact-form-two .text-body ul li::before {
      content: '';
      position: absolute;
      top: 0.8em; 
      left: 0;
      width: 4px;
      height: 4px;
      background-color: #1F1F1F;
      border-radius: 50%;
    }
    .contact-form-two .form__content{
        display: flex;
        gap:3rem;
        width:72rem;
        flex-direction: column;
        padding:3.2rem 3.1rem;
        background-color: #E2DED6;
    }

    .contact-form-two .form-grid {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
      margin-bottom: 15px;
    }
    
    .contact-form-two .form-grid-field {
      flex: 1 1 calc(50% - 8px);
    }
    .contact-form-two .form-grid-field.all-row {
      flex: 1 1 100%;
    }
    
    .contact-form-two .field__input,
    textarea.text-area {
      width: 100%;
      padding: 10px 12px;
      font-size: 2.4rem;
      border: none;
      border-radius: 0px;
      background: #fff;
      color: rgb(var(--color-foreground));
      font-weight:400;
      background-color:#fff;
      line-height: 3rem;
      height: 60px;
    }
    .contact-form-two select.field__input {
      appearance: none;
      background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0l5 6 5-6z' fill='%23000'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: right 12px center;
      background-size: 10px 6px;
    }
    .contact-form-two select.field__input option:disabled {
      color: #7F7E75; 
    }
    .contact-form-two .field__input::placeholder,.contact-form-two textarea.text-area::placeholder {
      color: #7F7E75;  
      opacity: 1;
      font-size: 2.4rem;
      font-weight:400;
    }
    /* Firefox */
    .contact-form-two .field__input::-moz-placeholder,.contact-form-two textarea::-moz-placeholder {
      color: #7F7E75;
      opacity: 1;
      font-size: 2.4rem;
      font-weight:400;
    }

    /* IE 10-11 */
    .contact-form-two .field__input:-ms-input-placeholder,.contact-form-two textarea::-moz-placeholder {
      color: #7F7E75;
      opacity: 1;
      font-size: 2.4rem;
      font-weight:400;
    }

    /* Microsoft Edge */
    .contact-form-two .field__input::-ms-input-placeholder,.contact-form-two textarea::-moz-placeholder {
      color: #7F7E75;
      opacity: 1;
      font-size: 2.4rem;
      font-weight:400;
    }

    
    .contact-form-two textarea.text-area {
      min-height: 120px;
      resize: vertical;
      margin-bottom: 15px;
    }
    
    .contact-form-two .submit-button {
      border: none;
      padding: 2rem;
      height: auto;
      width: 50%;
      display: flex;
      justify-content: space-between;
      margin-top: 1rem;
    }
    
    {% comment %} .contact-form-one .submit-button:hover {
      background-color: #bfee00;
    } {% endcomment %}
    
    .contact-form-two .form__message.success {
      color: #00ff66;
      font-weight: bold;
      margin-bottom: 20px;
    }
    
    .contact-form-two .form__message.error {
      color: #ff4d4f;
      font-weight: bold;
      margin-bottom: 20px;
    }
    
    .contact-form-two .contact__field-error {
      color: #ff4d4f;
      font-size: 13px;
      margin-top: 4px;
      display: block;
    }
    @media only screen and (max-width: 767px) {
      .contact-form-two__content{
        flex-direction: column;
      }
      .contact-form-two .form_left {
        width: 100%;
      }
      .contact-form-two .form__content{
        width:100%;
      }
      .contact-form-two .field__input,
      textarea.text-area,.contact-form-two .field__input::placeholder,
      .contact-form-two textarea.text-area::placeholder,
      .contact-form-two .field__input::-moz-placeholder,textarea::-moz-placeholder, 
      .contact-form-two .field__input:-ms-input-placeholder,textarea::-moz-placeholder,
      .contact-form-two .field__input::-ms-input-placeholder,textarea::-moz-placeholder{
        font-size: 1.8rem;
      }
     
    }
    
</style>

{% schema %}
{
  "name": "Contact Form Three",
  "tag": "section",
  "class": "section",
  "disabled_on": { "groups": ["header", "footer"] },
  "settings": [
    {
      "type": "richtext",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Background Image"
    },
    {
        "type": "text",
        "id": "desc",
        "label": "desc"
    },
    {
      "type": "richtext",
      "id": "text_content",
      "label": "text_content"
    },
  ],
  "blocks": [
  ],
  "presets": [
    { "name": "Contact Form Three" }
  ]
}
{% endschema %}