{{ 'section-faq-simple.css' | asset_url | stylesheet_tag }}

<div id="section-{{ section.id }}" class="faq_simple_section padding-sider">
  <div class="faq_simple">
    <div class="faq_simple_heading">{{ section.settings.heading }}</div>
    <div class="faq_simple_text_contain">
      <div class="faq_simple_text">{{ section.settings.text }}</div>
      {% if section.settings.show_btn %}
        <div class="nd-btn faq_simple_more_btn">
          {{ 'common.view_more_faqs' | t }}
          {{ 'icon-right-arrow.svg' | inline_asset_content }}
        </div>
      {% endif %}
      {% if section.settings.contact_us %}
        <div class="nd-btn faq_contact_us">
          {{ 'common.contact_us' | t }}
          {{ 'contact_icon_1.svg' | inline_asset_content }}
        </div>
      {% endif %}
    </div>
    <div class="faq_simple_list">
      {% for block in section.blocks %}
        <div class="faq_simple_item{% if section.settings.learn_more and forloop.index0 > 5 %} hidden{% endif %}">
          <div class="faq_simple_item_head">
            <div class="faq_simple_question">{{ block.settings.question }}</div>
            <div class="faq_simple_icon" data-type="close">{{- 'icon-faq-close.svg' | inline_asset_content -}}</div>
            <div class="faq_simple_icon" data-type="open">{{- 'icon-faq-open.svg' | inline_asset_content -}}</div>
          </div>
          <div class="faq_simple_answer">{{ block.settings.answer }}</div>
        </div>
      {% endfor %}
    </div>
    {% if section.settings.learn_more %}
      <div class="faq_simple_learnmore">
        {{ 'common.learn_more' | t }}
        {{ 'pagination-down.svg' | inline_asset_content }}
      </div>
    {% endif %}
    
  </div>
</div>

<script>
  const show_learnmore = {{ section.settings.learn_more | json }}
  document.addEventListener('DOMContentLoaded', function () {
    const faqItems = document.querySelectorAll('.faq_simple_item');

    faqItems.forEach((item) => {
      const faqItem = item.querySelector('.faq_simple_item_head');

      faqItem.addEventListener('click', function () {
        const isActive = item.classList.contains('active');

        document.querySelectorAll('.faq_simple_item').forEach((i) => {
          i.classList.remove('active');
        });

        if (!isActive) {
          item.classList.add('active');
        }
      });
    });
  });

  if(show_learnmore) {
    const show_learnmore_btn = document.querySelector(".faq_simple_learnmore")
    show_learnmore_btn.addEventListener("click", () => {
      show_learnmore_btn.toggleAttribute("open")
      if(show_learnmore_btn.hasAttribute("open")) {
        document.querySelectorAll(".faq_simple_item").forEach(item => item.classList.remove("hidden"))
      } else {
        document.querySelectorAll(".faq_simple_item").forEach((item, index) => {
          if(index > 5) {
            item.classList.add("hidden")
          }
        })
      }
    })
  }
</script>

{% schema %}
{
  "name": "faq simple",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "richtext",
      "id": "heading",
      "label": "heading"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "text"
    },
    {
      "type": "checkbox",
      "id": "show_btn",
      "label": "show more faqs",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "learn_more",
      "label": "show learn more",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "contact_us",
      "label": "show contact us",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "faq",
      "name": "FAQ Item",
      "settings": [
        {
          "type": "richtext",
          "id": "question",
          "label": "Question"
        },
        {
          "type": "richtext",
          "id": "answer",
          "label": "Answer"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "faq simple",
      "blocks": [
        {
          "type": "faq"
        }
      ]
    }
  ]
}
{% endschema %}
