{{ 'section-footer-simple.css' | asset_url | stylesheet_tag }}

<div class="footer_simple_section session-box-padding">
  <div class="footer_simple">
    <div class="footer_simple_body">
      {% for block in section.blocks %}
        {%- case block.type -%}
          {%- when 'company_info' -%}
            <div class="footer_simple_company_info">
              <img src="{{ block.settings.image | image_url }}" class="footer_simple_company_info_logo">
              {% if block.settings.text_one != blank %}
                <a
                  class="footer_simple_company_info_item"
                  {% if block.settings.link_one != blank %}
                    href="{{ block.settings.link_one }}"
                  {% endif %}
                >
                  {{ block.settings.icon_one }}
                  <div>{{ block.settings.text_one }}</div>
                </a>
              {% endif %}
              {% if block.settings.text_two != blank %}
                <a
                  class="footer_simple_company_info_item"
                  {% if block.settings.link_two != blank %}
                    href="{{ block.settings.link_two }}"
                  {% endif %}
                >
                  {{ block.settings.icon_two }}
                  <div>{{ block.settings.text_two }}</div>
                </a>
              {% endif %}
              {% if block.settings.text_thr != blank %}
                <a
                  class="footer_simple_company_info_item"
                  {% if block.settings.link_thr != blank %}
                    href="{{ block.settings.link_thr }}"
                  {% endif %}
                >
                  {{ block.settings.icon_thr }}
                  <div>{{ block.settings.text_thr }}</div>
                </a>
              {% endif %}
            </div>
          {%- when 'link_list' -%}
            <div class="footer_simple_link_list">
              <div class="footer_simple_link_list_title">{{ block.settings.heading }}</div>
              {%- if block.settings.menu != blank -%}
                {%- for link in block.settings.menu.links -%}
                  <a
                    href="{{ link.url }}"
                    class="footer_simple_link_list_item{% if link.active %} footer_simple_link_list_item_active{% endif %}"
                  >
                    {{ link.title | escape }}
                  </a>
                {%- endfor -%}
              {%- endif -%}
            </div>
        {%- endcase -%}
      {% endfor %}
    </div>
    <div class="footer_simple_footer">
      <span>&copy; {{ 'now' | date: '%Y' }}, {{ shop.name | link_to: routes.root_url -}}</span>
      {{ powered_by_link }}
      {%- for policy in shop.policies -%}
        {%- if policy != blank -%}
          <a href="{{ policy.url }}">{{ policy.title | escape }}</a>
        {%- endif -%}
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "footer simple",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header"],
    "templates": ["*"]
  },
  "settings": [],
  "blocks": [
    {
      "type": "company_info",
      "name": "company info",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "logo"
        },
        {
          "type": "textarea",
          "id": "icon_one",
          "label": "icon one"
        },
        {
          "type": "richtext",
          "id": "text_one",
          "label": "text one"
        },
        {
          "type": "url",
          "id": "link_one",
          "label": "link one"
        },
        {
          "type": "textarea",
          "id": "icon_two",
          "label": "icon two"
        },
        {
          "type": "richtext",
          "id": "text_two",
          "label": "text two"
        },
        {
          "type": "url",
          "id": "link_two",
          "label": "link two"
        },
        {
          "type": "textarea",
          "id": "icon_thr",
          "label": "icon thr"
        },
        {
          "type": "richtext",
          "id": "text_thr",
          "label": "text thr"
        },
        {
          "type": "url",
          "id": "link_thr",
          "label": "link thr"
        }
      ]
    },
    {
      "type": "link_list",
      "name": "link list",
      "settings": [
        {
          "type": "richtext",
          "id": "heading",
          "label": "heading"
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": "menu"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "footer simple"
    }
  ]
}
{% endschema %}
