{{ 'section-header-simple.css' | asset_url | stylesheet_tag }}

<style>
  #shopify-section-{{ section.id }} {
    z-index: 101;
  }
</style>

<div class="header_simple_section padding-sider">
  <div class="header_simple">
    <a href="{{ routes.root_url }}" class="header_simple_logo">
      <div class="header__heading-logo-wrapper">
        {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
        {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
        {% capture sizes %}(max-width: {{ settings.logo_width | times: 2 }}px) 50vw, {{ settings.logo_width }}px{% endcapture %}
        {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
        {{
          settings.logo
          | image_url: width: 600
          | image_tag:
            class: 'header__heading-logo motion-reduce',
            widths: widths,
            height: logo_height,
            width: settings.logo_width,
            alt: logo_alt,
            sizes: sizes,
            preload: true
        }}
      </div>
    </a>
    <div class="header_simple_search">
      <predictive-search class="search-modal__form" data-loading-text="{{ 'accessibility.loading' | t }}">
        <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form">
          <div class="field">
            <input
              class="search__input field__input"
              id="Search-In-Out"
              type="search"
              name="q"
              value="{{ search.terms | escape }}"
              placeholder="{{ 'general.search.search' | t }}"
              role="combobox"
              aria-expanded="false"
              aria-owns="predictive-search-results"
              aria-controls="predictive-search-results"
              aria-haspopup="listbox"
              aria-autocomplete="list"
              autocorrect="off"
              autocomplete="off"
              autocapitalize="off"
              spellcheck="false"
            >
            <label class="field__label" for="Search-In-Out">{{ 'general.search.search' | t }}</label>
            <input type="hidden" name="options[prefix]" value="last">
            <button
              type="reset"
              class="reset__button field__button{% if search.terms == blank %} hidden{% endif %}"
              aria-label="{{ 'general.search.reset' | t }}"
            >
              <span class="svg-wrapper">
                {{- 'icon-reset.svg' | inline_asset_content -}}
              </span>
            </button>
            <button class="search__button field__button" aria-label="{{ 'general.search.search' | t }}">
              <span class="svg-wrapper">
                {{- 'icon-search.svg' | inline_asset_content -}}
              </span>
            </button>
          </div>

          <div class="predictive-search predictive-search--header" tabindex="-1" data-predictive-search>
            {%- render 'loading-spinner', class: 'predictive-search__loading-state' -%}
          </div>

          <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
        </form>
      </predictive-search>
    </div>
    <div class="header_simple_icon_box">
      <a href="{{ settings.customer_service_url }}" class="header_simple_icon_item">{{ 'icon-customer-service.svg' | inline_asset_content }}</a>
      {%- if shop.customer_accounts_enabled -%}
        <a
          href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
          class="header_simple_icon_item"
        >
          {{ 'icon-account.svg' | inline_asset_content }}
        </a>
      {%- endif -%}
      <a href="{{ routes.cart_url }}" class="header_simple_icon_item" id="cart-icon-bubble">
        {{ 'icon-cart-empty.svg' | inline_asset_content }}
        {%- if cart != empty -%}
          <div class="cart-count-bubble">
            {%- if cart.item_count < 100 -%}
              <span aria-hidden="true">{{ cart.item_count }}</span>
            {%- endif -%}
            <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
          </div>
        {%- endif -%}
      </a>
      <a href="mailto:{{ shop.email }}" class="header_simple_icon_item">{{ 'icon-message.svg' | inline_asset_content }}</a>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "header simple",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["footer"],
    "templates": ["*"]
  },
  "settings": [
    {
      "type": "text",
      "id": "customer_service_url",
      "label": "Customer Service URL"
    }
  ],
  "presets": [
    {
      "name": "header simple"
    }
  ]
}
{% endschema %}
