{% comment %} 波点图片带文字 {% endcomment %}
{{ 'section-image-with-text-polka-dot.css' | asset_url | stylesheet_tag }}
<div class="polka_dot_img_with_text">
    <div class="polka_dot_img_with_text_img">
        {{-
            section.settings.image
            | image_url: width: section.settings.image.width
            | image_tag: alt: section.settings.title
          -}}
    </div>
    <div class="polka_dot_img_with_text_text">
        <h4 class="polka_dot_img_with_text_text_small_title">{{ section.settings.small_title }}</h4>
        <h2 class="polka_dot_img_with_text_text_title">{{ section.settings.title }}</h2>
        <div class="polka_dot_img_with_text_text_content">{{ section.settings.text }}</div>
        {% if section.settings.btn_text != blank %}
        <a class="nd-btn" href="{{ section.settings.link }}">
            {{ section.settings.btn_text }}
            {{ 'icon-right-arrow.svg' | inline_asset_content }}
        </a>
        {% endif %}
    </div>
</div>

{% schema %}
{
  "name": "image with text polka dot",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
        "type": "text",
        "id": "small_title",
        "label": "small_title"
    },
    {
        "type": "text",
        "id": "title",
        "label": "title"
    },
    {
    "type": "richtext",
    "id": "text",
    "label": "text"
    },
    {
    "type": "text",
    "id": "btn_text",
    "label": "button text"
    },
    {
    "type": "image_picker",
    "id": "image",
    "label": "image"
    },
    {
    "type": "url",
    "id": "link",
    "label": "link"
    },
    {
    "type": "product",
    "id": "select_product",
    "label": "product"
    },
    {
    "type": "range",
    "id": "product_X",
    "min": 0,
    "max": 100,
    "step": 1,
    "unit": "%",
    "label": "product_X",
    "default": 0
    },
    {
    "type": "range",
    "id": "product_Y",
    "min": 0,
    "max": 100,
    "step": 1,
    "unit": "%",
    "label": "product_Y",
    "default": 0
    }
  ]
}
{% endschema %}