{% comment %} about-us页第一屏 文字图 {% endcomment %}
<div class="about_us_img_text {% if section.settings.layout == 'image-right' %} right{% endif %} session-box-padding padding-top-60 padding-bottom-60">
  <div class="session-box-inner">
    <div class="about_us_img_text_img">
        {{-
            section.settings.image
            | image_url: width: section.settings.image.width
            | image_tag: alt: section.settings.title
          -}}
    </div>
    <div class="about_us_img_text_text">
        <h2 class="about_us_img_text_text_title">{{ section.settings.title }}</h2>
        <h4 class="about_us_img_text_text_small_title">{{ section.settings.small_title }}</h4>
        <div class="text-body">{{ section.settings.text }}</div>
        {% if section.settings.btn_text != blank %}
        <a class="nd-btn" href="{{ section.settings.link }}">
            {{ section.settings.btn_text }}
            {{ 'icon-right-arrow.svg' | inline_asset_content }}
        </a>
        {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "about us image with text",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
        "type": "select",
        "id": "layout",
        "label": "Layout",
        "options": [
          {
            "value": "image-left",
            "label": "Image Left, Text Right"
          },
          {
            "value": "image-right",
            "label": "Text Left, Image Right"
          }
        ],
        "default": "image-right"
    },
    {
        "type": "text",
        "id": "small_title",
        "label": "small_title"
    },
    {
        "type": "text",
        "id": "title",
        "label": "title"
    },
    {
        "type": "richtext",
        "id": "text",
        "label": "text"
    },
    {
        "type": "text",
        "id": "btn_text",
        "label": "button text"
    },
    {
        "type": "image_picker",
        "id": "image",
        "label": "image"
    },
    {
        "type": "url",
        "id": "link",
        "label": "link"
    }
  ]
}
{% endschema %}
<style>
  .about_us_img_text .session-box-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8.8rem;
}

.about_us_img_text.right {
    flex-direction: row-reverse;
}

.about_us_img_text_img {
    width: 50%;
    height: auto;
    position: relative;
}
.about_us_img_text_img img{
    width:100%;
    height:auto;
    display:block;
    object-fit:contain;
}

.about_us_img_text_text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding: 20px 60px;
}
.about_us_img_text.right .about_us_img_text_text {
    text-align: left;
}
.about_us_img_text_text_small_title{
  padding-top:68px;
}

@media (max-width: 1024px) {
    .about_us_img_text_img,
    .about_us_img_text_text {
        width: 100%;
    }
    .about_us_img_text {
        flex-direction: column;
    }
    .about_us_img_text.right {
        flex-direction: column;
    }
    .about_us_img_text_text,.about_us_img_text.right .about_us_img_text_text {
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        padding: 20px;
    }
    .about_us_img_text_text_small_title{
      padding-top:20px;
    }
}
</style>

    
