{{ 'section-img-with-text-tab.css' | asset_url | stylesheet_tag }}

<div class="img_with_text_tab_section padding-sider" id="img_with_text_tab_section-{{ section.id }}">
  <div class="img_with_text_tab">
    <h2 class="img_with_text_tab_title">{{ section.settings.title }}</h2>
    {% if section.settings.description != blank %}
      <div class="text-body">{{ section.settings.description }}</div>
    {% endif %}
    {% if section.settings.show_tab_head %}
      <div class="img_with_text_tab_head">
        {% for item in section.blocks %}
          <div class="img_with_text_tab_head_item{% if forloop.first %} active{% endif %}">
            {{ item.settings.tabname }}
          </div>
        {% endfor %}
      </div>
    {% endif %}
    <div class="img_with_text_tab_contain swiper {% if section.settings.layout == 'image-right' %} right{% endif %}">
      <div class="swiper-wrapper">
        {% for block in section.blocks %}
          <div class="swiper-slide {% if section.settings.layout == 'image-right' %} right{% endif %}">
            <div class="img_with_text_tab_contain_filebox">
              {% if block.settings.file_type == 'image' and block.settings.file_image != blank %}
                {{-
                  block.settings.file_image
                  | image_url: width: block.settings.file_image.width
                  | image_tag: alt: block.settings.title, class: 'img_with_text_tab_contain_filebox_image'
                -}}
              {% else %}
                {% assign poster_image = blank %}
                {% if block.settings.cover_image != blank %}
                  {% assign poster_image = block.settings.cover_image | image_url: width: 353 %}
                {% endif %}
                {% if block.settings.video_url != blank %}
                  <video
                    autoplay
                    loop
                    muted
                    playsinline
                    preload="none"
                    class="img_with_text_tab_contain_filebox_video"
                    {% if poster_image != blank %}
                      poster="{{ poster_image }}"
                    {% endif %}
                    src="{{ block.settings.video_url }}"
                  ></video>
                {% else %}
                  {{
                    block.settings.url_upload
                    | video_tag:
                      class: 'img_with_text_tab_contain_filebox_video',
                      autoplay: true,
                      loop: true,
                      muted: true,
                      playsinline: true,
                      preload: 'none',
                      poster: poster_image
                  }}
                {% endif %}
              {% endif %}
            </div>
            <div class="img_with_text_tab_contain_info">
              {% if block.settings.sub_title != blank %}
                <div class="img_with_text_simplicity_subtitle">{{ block.settings.sub_title }}</div>
              {% endif %}
              <div class="img_with_text_tab_contain_title">{{ block.settings.title }}</div>
              <div class="img_with_text_tab_contain_desc">{{ block.settings.description }}</div>
              {% if block.settings.btn_text != blank %}
                <a class="nd-btn" href="{{ block.settings.link }}">
                    {{ block.settings.btn_text }}
                    {{ 'icon-right-arrow.svg' | inline_asset_content }}
                </a>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="img_with_text_tab_swiper_prev">{{- 'swiper-left.svg' | inline_asset_content -}}</div>
      <div class="img_with_text_tab_swiper_next">{{- 'swiper-right.svg' | inline_asset_content -}}</div>
    </div>
  </div>
</div>

<script>
  (() => {
    const sectionId = '{{ section.id }}';
    const sectionEl = document.getElementById('img_with_text_tab_section-' + sectionId);
    if (!sectionEl) return;
  
    const tabItems = sectionEl.querySelectorAll('.img_with_text_tab_head_item');
    const swiperEl = sectionEl.querySelector('.swiper');

    const swiperNext = sectionEl.querySelector('.img_with_text_tab_swiper_next');
    const swiperPrev = sectionEl.querySelector('.img_with_text_tab_swiper_prev');
  
    const img_with_text_tab_swiper = new Swiper(swiperEl, {
      navigation: {
        nextEl: swiperNext,
        prevEl: swiperPrev,
      },
      on: {
        slideChange: function () {
          tabItems.forEach((el, index) => {
            el.classList.remove('active');
            if (index === img_with_text_tab_swiper.realIndex) {
              el.classList.add('active');
            }
          });
        },
      },
    });
  
    tabItems.forEach((item, index) => {
      item.addEventListener('click', () => {
        tabItems.forEach((el) => el.classList.remove('active'));
        item.classList.add('active');
        img_with_text_tab_swiper.slideTo(index);
      });
    });
  })();
</script>

{% schema %}
{
  "name": "img with text tab",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "spec_id",
      "label": "specId"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "description"
    },
    {
      "type": "richtext",
      "id": "title",
      "label": "title"
    },
    {
      "type": "checkbox",
      "id": "show_tab_head",
      "label": "Is Show Tab Head",
      "default": true
    },
    {
      "type": "select",
      "id": "layout",
      "label": "Layout",
      "options": [
        {
          "value": "image-left",
          "label": "Image Left, Text Right"
        },
        {
          "value": "image-right",
          "label": "Text Left, Image Right"
        }
      ],
      "default": "image-left"
    },
  ],
  "blocks": [
    {
      "type": "tab",
      "name": "tab",
      "settings": [
        {
          "type": "text",
          "id": "tabname",
          "label": "tabname"
        },
        {
          "type": "text",
          "id": "sub_title",
          "label": "sub_title"
        },
        {
          "type": "richtext",
          "id": "title",
          "label": "title"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "description"
        },
        {
          "type": "radio",
          "id": "file_type",
          "label": "file type",
          "default": "image",
          "options": [
            {
              "value": "image",
              "label": "image"
            },
            {
              "value": "video",
              "label": "video"
            }
          ]
        },
        {
          "type": "image_picker",
          "id": "file_image",
          "label": "file image"
        },
        {
          "type": "image_picker",
          "id": "cover_image",
          "label": "cover image"
        },
        {
          "type": "text",
          "id": "video_url",
          "label": "video url"
        },
        {
          "type": "video",
          "id": "url_upload",
          "label": "video upload"
        },
        {
          "type": "text",
          "id": "btn_text",
          "label": "button text"
        },
        {
          "type": "text",
          "id": "link",
          "label": "link"
        },
      ]
    }
  ],
  "presets": [
    {
      "name": "img with text tab"
    }
  ]
}
{% endschema %}
