{{ 'section-maidesite-swiper.css' | asset_url | stylesheet_tag }}

<div class="maidesite_swiper padding-sider">
  <div class="maidesite_swiper_title">{{ section.settings.title }}</div>
  <div class="maidesite_swiper_text">{{ section.settings.text }}</div>
  <div class="swiper maidesite_swiper_image">
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
        <div class="swiper-slide">
          {{-
            block.settings.image
            | image_url: width: block.settings.image.width
            | image_tag: alt: block.settings.title
          -}}
        </div>
      {% endfor %}
    </div>
    <div class="maidesite_swiper_prev">{{- 'swiper-left.svg' | inline_asset_content -}}</div>
    <div class="maidesite_swiper_next">{{- 'swiper-right.svg' | inline_asset_content -}}</div>
  </div>
  <div class="swiper maidesite_swiper_text">
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
        <div class="swiper-slide">
          {{ block.settings.text }}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<script>
  const maidesite_swiper_text = new Swiper('.maidesite_swiper_text', {
    slidesPerView: 1,
    spaceBetween: 0,
  });
  new Swiper('.maidesite_swiper_image', {
    slidesPerView: 4,
    spaceBetween: 24,
    navigation: {
      nextEl: '.maidesite_swiper_next',
      prevEl: '.maidesite_swiper_prev',
    },
    on: {
      slideChange: function () {
        maidesite_swiper_text.slideTo(this.activeIndex);
      },
    },
  });
</script>

{% schema %}
{
  "name": "maidesite swiper",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "richtext",
      "id": "title",
      "label": "title"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "text"
    }
  ],
  "blocks": [
    {
      "type": "swiper",
      "name": "swiper",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "image"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "maidesite swiper",
      "blocks": [
        {
          "type": "swiper"
        }
      ]
    }
  ]
}
{% endschema %}
