{{ 'section-maidesite-swiper.css' | asset_url | stylesheet_tag }}

<div class="maidesite_swiper padding-sider">
  <div class="maidesite_swiper_title">{{ section.settings.title }}</div>
  <div class="maidesite_swiper_text">{{ section.settings.text }}</div>
  <div class="maidesite_swiper_image_contain">
    <div class="swiper maidesite_swiper_image">
      <div class="swiper-wrapper">
        {% for block in section.blocks %}
          <div class="swiper-slide">
            {{-
              block.settings.image
              | image_url: width: block.settings.image.width
              | image_tag: alt: block.settings.title
            -}}
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="maidesite_swiper_prev">{{- 'swiper-left.svg' | inline_asset_content -}}</div>
    <div class="maidesite_swiper_next">{{- 'swiper-right.svg' | inline_asset_content -}}</div>
  </div>
  <div class="swiper maidesite_swiper_desc">
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
        <div class="swiper-slide">
          {{ block.settings.text }}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<script>
  const maidesite_swiper_text = new Swiper('.maidesite_swiper_desc', {
    spaceBetween: 0,
  });

  const maidesite_swiper_image = new Swiper('.maidesite_swiper_image', {
    slidesPerView: 4,
    spaceBetween: 24,
  });

  let maidesite_swiper_index = 0;
  const maidesite_swiper_image_slides = maidesite_swiper_image.slides;
  const totalSlides = maidesite_swiper_image_slides.length;

  let maidesite_swiper_timer = setInterval(nextSlide, 2000);

  function updateSlideClasses(index) {
    maidesite_swiper_image_slides.forEach((slide) => slide.classList.remove('swiper-slide-active'));
    maidesite_swiper_image_slides[index].classList.add('swiper-slide-active');
  }

  function nextSlide() {
    maidesite_swiper_index = (maidesite_swiper_index + 1) % totalSlides;
    maidesite_swiper_image.slideTo(maidesite_swiper_index);
    maidesite_swiper_text.slideTo(maidesite_swiper_index);
    updateSlideClasses(maidesite_swiper_index);
  }

  function prevSlide() {
    maidesite_swiper_index = (maidesite_swiper_index - 1 + totalSlides) % totalSlides;
    maidesite_swiper_image.slideTo(maidesite_swiper_index);
    maidesite_swiper_text.slideTo(maidesite_swiper_index);
    updateSlideClasses(maidesite_swiper_index);
  }

  document.querySelector('.maidesite_swiper_prev').addEventListener('click', () => {
    prevSlide();
  });

  document.querySelector('.maidesite_swiper_next').addEventListener('click', () => {
    nextSlide();
  });
</script>

{% schema %}
{
  "name": "maidesite swiper",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "richtext",
      "id": "title",
      "label": "title"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "text"
    }
  ],
  "blocks": [
    {
      "type": "swiper",
      "name": "swiper",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "image"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "maidesite swiper",
      "blocks": [
        {
          "type": "swiper"
        }
      ]
    }
  ]
}
{% endschema %}
