{% comment %} 帮助中心 搜索页 模版 {% endcomment %}
<div class="help_center_search session-box-padding padding-top-60 padding-bottom-120">
  <div class="session-box-inner">
    <div class="help_center_search_title">
      <h2 class="padding-bottom-30" id="search_title">Search:</h2>
      <div class="template-search__search">
        <main-search>
          <form id="help-search-form" action="javascript:void(0);" role="search" class="search">
            <div class="field">
              <input
                class="search__input field__input"
                id="Search-In-Template"
                type="search"
                name="q"
                placeholder="{{ 'general.search.search' | t }}"
              >
              <label class="field__label" for="Search-In-Template">{{ 'general.search.search' | t }}</label>
              <input name="options[prefix]" type="hidden" value="last">

              <button
                type="reset"
                class="reset__button field__button{% if search.terms == blank %} hidden{% endif %}"
                aria-label="{{ 'general.search.reset' | t }}"
              >
                <span class="svg-wrapper">
                  {{- 'icon-reset.svg' | inline_asset_content -}}
                </span>
              </button>
              <button type="submit" class="search__button field__button" aria-label="{{ 'general.search.search' | t }}">
                <span class="svg-wrapper">
                  {{- 'icon-search.svg' | inline_asset_content -}}
                </span>
              </button>
            </div>
          </form>
        </main-search>
      </div>
    </div>
    <div class="result_list">
      <ul id="search-results">
        {% for block in section.blocks %}
          {% assign blog_handle = block.settings.blog %}
          {% if blogs[blog_handle] != blank %}
            {% for article in blogs[blog_handle].articles %}
              <li 
                data-title="{{ article.title | downcase }}" 
                data-content="{{ article.content | strip_html | downcase }}"
                data-blog="{{ blog_handle }}"
              >
                <a href="{{ article.url }}">{{ article.title }}</a>
              </li>
            {% endfor %}
          {% endif %}
        {% endfor %}
      </ul>

      <div 
        id="no-results" 
        style="display:none; font-style: italic; color: #999;"
      >
        {{ section.settings.no_result_text }}
      </div>
      
    </div>    
  </div>
</div>

<style>
  .field__input, .select__select, .customer .field input, .customer select{background-color: #fff;}
  .help_center_search_title{width:100%;max-width:900px;margin:0 auto;}
  .result_list{padding-top: 60px;}
  .help_center_search .result_list ul{list-style: none;margin:0;padding:0}
  .help_center_search .result_list ul li a{padding:1.8rem 2rem;border-bottom: 2px solid #E2DED6;color:#1F1F1F;font-size: 2rem;display:block;}
  .help_center_search .result_list ul li a:hover{background-color: #E2DED6;}
  @media screen and (max-width: 768px) {
      
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const form = document.getElementById('help-search-form');
    const input = document.getElementById('Search-In-Template');
    const results = document.querySelectorAll('#search-results li');
    const noResultItem = document.getElementById('no-results');
    const searchTitle = document.getElementById('search_title');
  
    form.addEventListener('submit', function (e) {
      e.preventDefault();
      const keyword = input.value.trim().toLowerCase();
      searchTitle.textContent = `Search: ${keyword}`;
      let anyVisible = false;
  
      results.forEach(item => {
        const title = item.getAttribute('data-title');
        const content = item.getAttribute('data-content');
  
        if (title.includes(keyword) || content.includes(keyword)) {
          item.style.display = 'block';
          anyVisible = true;
        } else {
          item.style.display = 'none';
        }
      });
      noResultItem.style.display = anyVisible ? 'none' : 'block';
    });
  });
</script>
  

{% schema %}
{
  "name": "Main Help Center Search",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "no_result_text",
      "label": "No result message",
      "default": "No matching content found."
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "blog",
          "id": "blog",
          "label": "选择一个博客分类"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Main Help Center Search",
      "category": "Custom"
    }
  ]
}
{% endschema %}