{% comment %} 帮助中心 搜索页 模版 {% endcomment %}
<div class="help_center_search session-box-padding padding-top-60 padding-bottom-120">
  <div class="session-box-inner">
      <h2 class="padding-bottom-30">Search:</h2>
      <div class="template-search__search">
        <main-search>
          <form action="{{ routes.search_url }}" method="get" role="search" class="search">
            <div class="field">
              <input
                class="search__input field__input"
                id="Search-In-Template"
                type="search"
                name="q"
                value="{{ search.terms | escape }}"
                placeholder="{{ 'general.search.search' | t }}"
              >
              <label class="field__label" for="Search-In-Template">{{ 'general.search.search' | t }}</label>
              <input name="options[prefix]" type="hidden" value="last">

              <button
                type="reset"
                class="reset__button field__button{% if search.terms == blank %} hidden{% endif %}"
                aria-label="{{ 'general.search.reset' | t }}"
              >
                <span class="svg-wrapper">
                  {{- 'icon-reset.svg' | inline_asset_content -}}
                </span>
              </button>
              <button type="submit" class="search__button field__button" aria-label="{{ 'general.search.search' | t }}">
                <span class="svg-wrapper">
                  {{- 'icon-search.svg' | inline_asset_content -}}
                </span>
              </button>
            </div>
          </form>
        </main-search>
      </div>
      <div class="result_list">
        <ul>
        {% for article in blog.articles %}
            {% if article.tags contains tag %}
            <li><a href="{{ article.url }}">{{ article.title }}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
      </div>
  </div>
</div>

<style>
  .help_center_search .result_list ul{list-style: none;margin:0;padding:0}
  .help_center_search .result_list ul li a{padding:1.8rem 2rem;border-bottom: 2px solid #E2DED6;color:#1F1F1F;font-size: 2rem;display:block;}
  .help_center_search .result_list ul li a:hover{background-color: #E2DED6;}
  @media screen and (max-width: 768px) {
      
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const buttons = document.querySelectorAll(".nav_item");
    const contentBlocks = document.querySelectorAll(".tag-content");

    buttons.forEach((btn) => {
      btn.addEventListener("click", function () {
        buttons.forEach((b) => b.classList.remove("active"));
        btn.classList.add("active");

        const tag = btn.getAttribute("data-tag");
        contentBlocks.forEach((block) => {
          if (block.getAttribute("data-tag") === tag) {
            block.style.display = "block";
          } else {
            block.style.display = "none";
          }
        });
      });
    });

  const hash = window.location.hash.substring(1); 
  if (hash) {
      const defaultBtn = document.querySelector('.nav_item[data-tag="' + hash + '"]');
      if (defaultBtn) {
      defaultBtn.click();
      }
  } else if (buttons.length > 0) {
      buttons[0].click();
  }

  });
</script>
