

<div class="main_404 session-box-padding padding-top-30 padding-bottom-120 center">
  <div class="session-box-inner">
    {% if section.settings.title != blank %}
      <h2>{{ section.settings.title }}</h2>
    {% endif %}
    {% if section.settings.description != blank %}
      <h4>{{ section.settings.description }}</h4>
    {% endif %}
    <div class="search_box"></div>
    <a href="{{ section.settings.btn_link }}" class="nd-btn">
      {{ section.settings.btn_text }}
      {{ 'icon-right-arrow.svg' | inline_asset_content }}
    </a>
  </div>
</div>

<style type="text/css">
  .main_404 .session-box-inner{
    display:flex;
    flex-direction: column;
    gap:3rem;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .main_404 .session-box-inner h4{
    width:80%;
  }
  .main_404 .session-box-inner .nd-btn{
    padding:2rem;
    text-align: center;
    width: 50%;
    max-width: 700px;
    height:6.7rem;
    justify-content: center;
  }
  .main_404 .session-box-inner .search_box{
    width: 50%;
    max-width: 700px;
  }
  @media screen and (max-width: 750px) {
    .main_404 .session-box-inner,
    .main_404 .session-box-inner h4{
      width: 100%;
      max-width: 100%;
    }
    .main_404 .session-box-inner .search_box,
    .main_404 .session-box-inner .nd-btn{
      width: 100%;
      max-width: 100%;
    }
  }
</style>

{% schema %}
{
  "name": "Main 404",
  "settings": [
    {
      "type": "textarea",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description",
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "btn_link",
      "label": "Button Link"
    }
  ],
  "presets": [
    {
      "name": "Main 404",
      "category": "Custom"
    }
  ]
}
{% endschema %}
