{{ 'section-blog-post.css' | asset_url | stylesheet_tag }}
<div class="session-box-padding padding-bottom-120">
<div class="nd_article session-box-inner">

  <article class="article-template nd_article_left">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when '@app' -%}
          <div class="page-width page-width--narrow">
            {% render block %}
          </div>
        {%- when 'featured_image' -%}
          {%- if article.image -%}
            <div
              class="article-template__hero-container{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
              {{ block.shopify_attributes }}
            >
              <div
                class="article-template__hero-{{ block.settings.image_height }} media"
                {% if block.settings.image_height == 'adapt' and article.image %}
                  style="padding-bottom: {{ 1 | divided_by: article.image.aspect_ratio | times: 100 }}%;"
                {% endif %}
              >
                <img
                  srcset="
                    {% if article.image.width >= 350 %}{{ article.image | image_url: width: 350 }} 350w,{% endif %}
                    {% if article.image.width >= 750 %}{{ article.image | image_url: width: 750 }} 750w,{% endif %}
                    {% if article.image.width >= 1100 %}{{ article.image | image_url: width: 1100 }} 1100w,{% endif %}
                    {% if article.image.width >= 1500 %}{{ article.image | image_url: width: 1500 }} 1500w,{% endif %}
                    {% if article.image.width >= 2200 %}{{ article.image | image_url: width: 2200 }} 2200w,{% endif %}
                    {% if article.image.width >= 3000 %}{{ article.image | image_url: width: 3000 }} 3000w,{% endif %}
                    {{ article.image | image_url }} {{ article.image.width }}w
                  "
                  sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 }}px, (min-width: 750px) calc(100vw - 10rem), 100vw"
                  src="{{ article.image | image_url: width: 1100 }}"
                  loading="eager"
                  fetchpriority="high"
                  width="{{ article.image.width }}"
                  height="{{ article.image.height }}"
                  alt="{{ article.image.alt | escape }}"
                >
              </div>
            </div>
          {%- endif -%}

        {%- when 'title' -%}
          <header
            class="page-width page-width--narrow{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
            {{ block.shopify_attributes }}
          >
            <h1
              class="article-template__title h3"
            >
              {{ article.title | escape }}
            </h1>
            <div>
            {%- if block.settings.blog_show_author -%}
              <span class="article__author">{{ article.author }}</span>
            {%- endif -%}
            {%- if block.settings.blog_show_date -%}
              <span class="article__date">
                {{- article.published_at | time_tag: format: 'date' -}}
              </span>
            {%- endif -%}
            
            {%- if block.settings.show_share_buttons -%}
              <div class="social-share">
                {% render 'social-share',
                  share_title: article.title,
                  share_url: article.url,
                  share_image: article.image,
                  share_facebook: block.settings.share_facebook,
                  share_twitter: block.settings.share_twitter,
                  share_pinterest: block.settings.share_pinterest,
                  share_email: block.settings.share_email,
                  share_telegram: block.settings.share_telegram,
                  share_reddit: block.settings.share_reddit,
                  share_whatsapp: block.settings.share_whatsapp,
                  share_linkedin: block.settings.share_linkedin
                %}
              </div>
            {%- endif -%}
            </div>
          </header>

        {%- when 'content' -%}
          <div
            class="article-template__content text-body rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
            {{ block.shopify_attributes }}
          >
            {{ article.content }}
          </div>
      {%- endcase -%}
    {%- endfor -%}

    {%- if blog.comments_enabled? -%}
      <div class="article-template__comment-wrapper">
        <div
          id="comments"
          class="{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
        >
          {%- if article.comments_count > 0 -%}
            {%- assign anchorId = '#Comments-' | append: article.id -%}
            <h4 id="Comments-{{ article.id }}" tabindex="-1">
              {{ 'blogs.article.comments' | t: count: article.comments_count }}
            </h4>
            {% paginate article.comments by 5 %}
              <div class="article-template__comments">
                {%- if comment.status == 'pending' and comment.content -%}
                  <article id="{{ comment.id }}" class="article-template__comments-comment">
                    {{ comment.content }}
                    <footer class="right">
                      <span class="circle-divider caption-with-letter-spacing">{{ comment.author }}</span>
                    </footer>
                  </article>
                {%- endif -%}

                {%- for comment in article.comments -%}
                  <article id="{{ comment.id }}" class="article-template__comments-comment">
                    {{ comment.content }}
                    <footer class="right">
                      <span class="circle-divider caption-with-letter-spacing">{{ comment.author }}</span
                      ><span class="caption-with-letter-spacing">
                        {{- comment.created_at | time_tag: format: 'date' -}}
                      </span>
                    </footer>
                  </article>
                {%- endfor -%}
                {% render 'pagination', paginate: paginate, anchor: anchorId %}
              </div>
            {% endpaginate %}
          {%- endif -%}
          {% form 'new_comment', article %}
            {%- liquid
              assign post_message = 'blogs.article.success'
              if blog.moderated? and comment.status == 'unapproved'
                assign post_message = 'blogs.article.success_moderated'
              endif
            -%}
            <h3 class="padding-bottom-30">{{ 'blogs.article.comment_form_title' | t }}</h3>
            {%- if form.errors -%}
              <div class="form__message" role="alert">
                <h4 class="form-status caption-large text-body" tabindex="-1" autofocus>
                  <span class="svg-wrapper">
                    {{- 'icon-error.svg' | inline_asset_content -}}
                  </span>
                  {{ 'templates.contact.form.error_heading' | t }}
                </h4>
              </div>
              <ul class="form-status-list caption-large">
                {%- for field in form.errors -%}
                  <li>
                    <a href="#CommentForm-{{ field }}" class="link">
                      {%- if form.errors.translated_fields[field] contains 'author' -%}
                        {{ 'blogs.article.name' | t }}
                      {%- elsif form.errors.translated_fields[field] contains 'body' -%}
                        {{ 'blogs.article.message' | t }}
                      {%- else -%}
                        {{ form.errors.translated_fields[field] }}
                      {%- endif -%}
                      {{ form.errors.messages[field] }}
                    </a>
                  </li>
                {%- endfor -%}
              </ul>
            {%- elsif form.posted_successfully? -%}
              <div class="form-status-list form__message" role="status">
                <h3 class="form-status" tabindex="-1" autofocus>
                  <span class="svg-wrapper">
                    {{- 'icon-success.svg' | inline_asset_content -}}
                  </span>
                  {{ post_message | t }}
                </h3>
              </div>
            {%- endif -%}

            <div
              {% if blog.moderated? == false %}
                class="article-template__comments-fields"
              {% endif %}
            >
              <div class="article-template__comment-fields">
                <div class="field field--with-error">
                  <input
                    type="text"
                    name="comment[author]"
                    id="CommentForm-author"
                    class="field__input"
                    autocomplete="name"
                    value="{{ form.author }}"
                    aria-required="true"
                    required
                    {% if form.errors contains 'author' %}
                      aria-invalid="true"
                      aria-describedby="CommentForm-author-error"
                    {% endif %}
                    placeholder="{{ 'blogs.article.name' | t }}"
                  >
                  <label class="field__label" for="CommentForm-author">
                    {{- 'blogs.article.name' | t }}
                    <span aria-hidden="true">*</span></label
                  >
                  {%- if form.errors contains 'author' -%}
                    <small id="CommentForm-author-error">
                      <span class="form__message">
                        <span class="svg-wrapper">
                          {{- 'icon-error.svg' | inline_asset_content -}}
                        </span>
                        {{- 'blogs.article.name' | t }}
                        {{ form.errors.messages.author }}.</span
                      >
                    </small>
                  {%- endif -%}
                </div>
                <div class="field field--with-error">
                  <input
                    type="email"
                    name="comment[email]"
                    id="CommentForm-email"
                    autocomplete="email"
                    class="field__input"
                    value="{{ form.email }}"
                    autocorrect="off"
                    autocapitalize="off"
                    aria-required="true"
                    required
                    {% if form.errors contains 'email' %}
                      aria-invalid="true"
                      aria-describedby="CommentForm-email-error"
                    {% endif %}
                    placeholder="{{ 'blogs.article.email' | t }}"
                  >
                  <label class="field__label" for="CommentForm-email">
                    {{- 'blogs.article.email' | t }}
                    <span aria-hidden="true">*</span></label
                  >
                  {%- if form.errors contains 'email' -%}
                    <small id="CommentForm-email-error">
                      <span class="form__message">
                        <span class="svg-wrapper">
                          {{- 'icon-error.svg' | inline_asset_content -}}
                        </span>
                        {{- 'blogs.article.email' | t }}
                        {{ form.errors.messages.email }}.</span
                      >
                    </small>
                  {%- endif -%}
                </div>
              </div>
              <div class="field field--with-error">
                <textarea
                  rows="5"
                  name="comment[body]"
                  id="CommentForm-body"
                  class="text-area field__input"
                  aria-required="true"
                  required
                  {% if form.errors contains 'body' %}
                    aria-invalid="true"
                    aria-describedby="CommentForm-body-error"
                  {% endif %}
                  placeholder="{{ 'blogs.article.message' | t }}"
                >{{ form.body }}</textarea>
                <label class="form__label field__label" for="CommentForm-body">
                  {{- 'blogs.article.message' | t }}
                  <span aria-hidden="true">*</span></label
                >
              </div>
              {%- if form.errors contains 'body' -%}
                <small id="CommentForm-body-error">
                  <span class="form__message">
                    <span class="svg-wrapper">
                      {{- 'icon-error.svg' | inline_asset_content -}}
                    </span>
                    {{- 'blogs.article.message' | t }}
                    {{ form.errors.messages.body }}.</span
                  >
                </small>
              {%- endif -%}
            </div>
            {%- if blog.moderated? -%}
              <p class="article-template__comment-warning caption text-body">{{ 'blogs.article.moderated' | t }}</p>
            {%- endif -%}
            {% comment %} <input type="submit" class="button" value="{{ 'blogs.article.post' | t }}"> {% endcomment %}
            <button type="submit" class="button nd-btn">
              {{ 'blogs.article.post' | t }}
              {{ 'icon-right-arrow.svg' | inline_asset_content }}
            </button>
          {% endform %}
        </div>
      </div>
    {%- endif -%}

    <div class="post-nav">
      <div class="post-nav__item post-nav__prev">
        {% if blog.previous_article %}
        <a href="{{ blog.previous_article.url }}">
          <div class="swiper_btn_white">{{- 'swiper-left.svg' | inline_asset_content -}}</div>
          <div class="text-body">
            <div class="post-nav__label">previous</div>
            <div class="post-nav__title">{{ blog.previous_article.title }}</div>
          </div>
        </a>
        {% endif %}
      </div>
    
      <div class="post-nav__item post-nav__next">
        {% if blog.next_article %}
        <a href="{{ blog.next_article.url }}">
          <div class="text-body">
            <div class="post-nav__label">Next</div>
            <div class="post-nav__title">{{ blog.next_article.title }}</div>
          </div>
          <div class="swiper_btn_white">{{- 'swiper-right.svg' | inline_asset_content -}}</div>
        </a>
        {% endif %}
      </div>
    </div>
    

    <div class="article-template__back element-margin-top center{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
      <a href="{{ blog.url }}" class="article-template__link link animate-arrow">
        <span class="icon-wrap">
          <span class="svg-wrapper">
            {{- 'icon-arrow.svg' | inline_asset_content -}}
          </span>
        </span>
        {{ 'blogs.article.back_to_blog' | t: title: blog.title | escape }}
      </a>
    </div>
  </article>

  <div class="nd_article_right">
    <div class="catalog">
      <h3>Catalog</h3>
      {% assign blog_items = section.blocks | where: "type", "blog_item" %}
      {% for block in blog_items %}
        {% assign blog_item = block.settings.blog %}
        <a href="{{ blog_item.url }}" class="nav_item {% if blog_item.handle == blog.handle %}active{% endif %}">
          {{ blog_item.title }}
        </a> 
      {% endfor %}
    </div>
    <div class="featured_article">
      <h3>Unsere beliebten Blogs</h3>
      {% assign related_articles = article.metafields.custom.related_articles %}
      {% if related_articles and related_articles.size > 0 %}
        {% assign recommended = related_articles | slice: 0, 2 %}
      {% else %}
        {% assign other_articles = blog.articles | where_exp: "item", "item.id != article.id" %}
        {% assign recommended = other_articles | slice: 0, 2 %}
      {% endif %}

      {% for item in recommended %}
          <a href="{{ item.url }}" class="article_card">
            <div class="article_card__img">
            {% if item.image %}
              <img src="{{ item.image | image_url: width: 400 }}" alt="{{ item.image.alt | escape }}" loading="lazy">
            {% endif %}
            </div>
            <h4>{{ item.title }}</h4>
            <p class="date text-body">{{ item.published_at | time_tag: format: 'date' }}</p>
          </a>
      {% endfor %}
    </div>
    <div class="featured_pro">
      <h3>Featured Products</h3>
      {% assign related_products = article.metafields.custom.related_products %}
      {% if related_products and related_products.size > 0 %}
        {% assign recommended_products = related_products | slice: 0, 2 %}
      {% else %}
        {% assign recommended_products = collections.all.products | reverse | slice: 0, 2 %}
      {% endif %}

      {% for product in recommended_products %}
        <a href="{{ product.url }}" class="product_card">
          <div class="product_card__img">
            {{-
              product.featured_image
              | image_url: width: product.featured_image.width
              | image_tag: alt: product.title
            -}}
          </div>
          <h4>{{ product.title }}</h4>
          <div class="product_price">
            <h4>{{ product.price | money_without_trailing_zeros }} </h4>
            {% if product.compare_at_price != blank %}
              <div class="product_price_cap text-body">
                {{ product.compare_at_price | money_without_trailing_zeros }}
              </div>
            {% endif %}
          </div>
          <div class="product_btn nd-btn">
            {{ 'common.en_savoir_plus' | t }}
            {{ 'icon-right-arrow.svg' | inline_asset_content }}
          </div>
        </a>
      {% endfor %}
    </div>
  </div>

</div>
</div>
<script type="application/ld+json">
  {{ article | structured_data }}
</script>

{% schema %}
{
  "name": "t:sections.main-article.name",
  "tag": "section",
  "class": "section",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "featured_image",
      "name": "t:sections.main-article.blocks.featured_image.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "image_height",
          "options": [
            {
              "value": "adapt",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__1.label"
            },
            {
              "value": "small",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__2.label"
            },
            {
              "value": "medium",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__3.label"
            },
            {
              "value": "large",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__4.label"
            }
          ],
          "default": "adapt",
          "label": "t:sections.main-article.blocks.featured_image.settings.image_height.label"
        }
      ]
    },
    {
      "type": "title",
      "name": "t:sections.main-article.blocks.title.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "blog_show_date",
          "default": true,
          "label": "t:sections.main-article.blocks.title.settings.blog_show_date.label"
        },
        {
          "type": "checkbox",
          "id": "blog_show_author",
          "default": false,
          "label": "t:sections.main-article.blocks.title.settings.blog_show_author.label"
        },
        {
          "type": "checkbox",
          "id": "show_share_buttons",
          "label": "Show social share links",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "share_facebook",
          "label": "显示 Facebook",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "share_twitter",
          "label": "显示 Twitter",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "share_pinterest",
          "label": "显示 Pinterest",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "share_linkedin",
          "label": "显示 LinkedIn",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "share_whatsapp",
          "label": "显示 WhatsApp",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "share_telegram",
          "label": "显示 Telegram",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "share_reddit",
          "label": "显示 Reddit",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "share_email",
          "label": "显示邮件分享",
          "default": false
        }        
      ]
    },
    {
      "type": "content",
      "name": "t:sections.main-article.blocks.content.name",
      "limit": 1
    },
    {
      "type": "blog_item",
      "name": "博客分类",
      "settings": [
        {
          "type": "blog",
          "id": "blog",
          "label": "选择一个博客分类"
        }
      ]
    }
  ]
}
{% endschema %}
