

<div class="main_help_center session-box-padding padding-top-30 padding-bottom-120">
  <div class="session-box-inner">
    <div class="help_center_title">
      {% if section.settings.title != blank %}
        <h2>{{ section.settings.title }}</h2>
      {% endif %}
      <div class="search_box">
        <main-search>
          <form id="help-search-form" action="javascript:void(0);" role="search" class="search">
            <div class="field">
              <input
                class="search__input field__input"
                id="Search-In-Template"
                type="search"
                name="q"
                placeholder="{{ 'general.search.search' | t }}"
              >
              <label class="field__label" for="Search-In-Template">{{ 'general.search.search' | t }}</label>
              <input name="options[prefix]" type="hidden" value="last">

              <button
                type="reset"
                class="reset__button field__button{% if search.terms == blank %} hidden{% endif %}"
                aria-label="{{ 'general.search.reset' | t }}"
              >
                <span class="svg-wrapper">
                  {{- 'icon-reset.svg' | inline_asset_content -}}
                </span>
              </button>
              <button type="submit" class="search__button field__button" aria-label="{{ 'general.search.search' | t }}">
                <span class="svg-wrapper">
                  {{- 'icon-search.svg' | inline_asset_content -}}
                </span>
              </button>
            </div>
          </form>
        </main-search>
      </div>
    </div>
    
    <div class="steps-grid padding-top-60">
      {% for block in section.blocks %}
        {% assign blog_item = block.settings.blog %}
        <a href="{{ blog_item.url }}" class="influencer-step">
          {{-
            block.settings.image
            | image_url: width: block.settings.image.width
            | image_tag: alt: block.settings.title, class: 'influencer-step-icon'
          -}}
          <div class="step-content">
            <h4>{{ blog_item.title }}</h4>
            <div class="text-body step-desc">{{ block.settings.text }}</div>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
</div>

<style type="text/css">
  .main_help_center .help_center_title{display:flex;justify-content: space-between;gap:3rem}
  .main_help_center .session-box-inner .search_box{
    width: 50%;
    max-width: 560px;
  }
  .main_help_center .search__input{background:#fff;height: 5.7rem;padding-left: 4rem;}
  .main_help_center .search__button{height: 5.7rem;left:0;right:unset;}
  .main_help_center .field__label{top:1.8rem;left: 4rem;color:#AAAAAA;}
  .main_help_center .field__input:focus~.field__label{left:4rem;}

  .main_help_center .steps-grid {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 2rem;
    position: relative;
  }
  .main_help_center .influencer-step {
      display: flex;
      flex-direction: column;
  }
  .main_help_center .influencer-step .step-content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding:1.7rem;
    background: #fff;
  }
  .main_help_center .influencer-step img{width: 100%;height:auto;}
  .main_help_center .influencer-step .step-desc{color:#7F7E75;font-size: 1.6rem;line-height:1.3em;}
  @media screen and (max-width: 1024px) {
    .main_help_center .steps-grid {
      grid-template-columns: repeat(2, 3fr);
    }
  }
  @media screen and (max-width: 768px) {
    .main_help_center .session-box-inner,
    .main_help_center .session-box-inner h4{
      width: 100%;
      max-width: 100%;
    }
    .main_help_center .session-box-inner .search_box,
    .main_help_center .session-box-inner .nd-btn{
      width: 100%;
      max-width: 100%;
    }
    .main_help_center .help_center_title{flex-direction: column;}

    .main_help_center .steps-grid {
      grid-template-columns: repeat(1, 3fr);
    }
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const form = document.getElementById('help-search-form');
    const input = document.getElementById('Search-In-Template');
  
    form.addEventListener('submit', function (e) {
      e.preventDefault(); 
      const keyword = input.value.trim();
      console.log(keyword);
      console.log(input);
      if (keyword) {
        const targetURL = `https://www.maidesite.de/pages/topic-collection?view=help-search&keyword=${encodeURIComponent(keyword)}`;
        window.location.href = targetURL;
      }
    });
  });
  </script>
  

{% schema %}
{
  "name": "Main Help Center",
  "settings": [
    {
      "type": "textarea",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description",
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "btn_link",
      "label": "Button Link"
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "Description"
        },
        {
          "type": "blog",
          "id": "blog",
          "label": "选择一个博客分类"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Main Help Center",
      "category": "Custom"
    }
  ]
}
{% endschema %}
