{{ 'section-polka-dot-swiper.css' | asset_url | stylesheet_tag }}

<div class="polka_dot_swiper">
  <div class="padding-sider">
    <div class="polka_dot_swiper_title">{{ section.settings.title }}</div>
    <div class="polka_dot_swiper_text">{{ section.settings.text }}</div>
  </div>
  <div class="swiper">
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
        <div class="swiper-slide">
          {{-
            block.settings.image
            | image_url: width: block.settings.image.width
            | image_tag: alt: block.settings.title, class: 'polka_dot_swiper_img'
          -}}
          <div class="polka_dot_swiper_info">
            <div>
              <div class="polka_dot_swiper_info_title">{{ block.settings.title }}</div>
              <div class="polka_dot_swiper_info_text">{{ block.settings.text }}</div>
            </div>
            {% if block.settings.btn_text != blank %}
              <a class="polka_dot_swiper_info_btn" href="{{ block.settings.link }}">
                {{ block.settings.btn_text }}
                {{ 'icon-right-arrow.svg' | inline_asset_content }}
              </a>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="swiper-pagination"></div>
  </div>
</div>

<script>
  new Swiper('.polka_dot_swiper .swiper', {
    slidesPerView: 'auto',
    spaceBetween: 60,
    initialSlide: 1,
    centeredSlides: true,
    pagination: {
      el: '.polka_dot_swiper .swiper-pagination',
    },
  });
</script>

{% schema %}
{
  "name": "polka dot swiper",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "title"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "text"
    }
  ],
  "blocks": [
    {
      "type": "swiper",
      "name": "swiper",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "title"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "text"
        },
        {
          "type": "text",
          "id": "btn_text",
          "label": "button text"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "image"
        },
        {
          "type": "url",
          "id": "link",
          "label": "link"
        },
        {
          "type": "product",
          "id": "product",
          "label": "product"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "polka dot swiper",
      "blocks": [
        {
          "type": "swiper"
        }
      ]
    }
  ]
}
{% endschema %}
