{{ 'section-product-info.css' | asset_url | stylesheet_tag }}

<div class="product_info_section padding-sider">
  <div class="product_info">
    <div class="product_info_left">
      <div
        class="product_info_left_contain"
        style="padding-bottom: {{ 1 | divided_by: section.settings.media_ratio | times: 100 }}%;"
      >
        <div class="swiper imgmain_swiper">
          <div class="swiper-wrapper">
            {%- if product.selected_or_first_available_variant != null -%}
              {% for image in product.images %}
                <div class="swiper-slide">
                  {{- image | image_url: width: image.width | image_tag: alt: product.title, preload: true -}}
                </div>
              {% endfor -%}
            {%- endif -%}
          </div>
          <div class="imgmain_swiper_prev">
            {{- 'swiper-left.svg' | inline_asset_content -}}
          </div>
          <div class="imgmain_swiper_next">
            {{- 'swiper-right.svg' | inline_asset_content -}}
          </div>
        </div>
      </div>
      <div class="product_info_left_thumb">
        <div class="imgthumb_swiper_box">
          <div class="imgthumb_swiper_prev">
            {{- 'swiper-left.svg' | inline_asset_content -}}
          </div>
          <div class="swiper imgthumb_swiper">
            <div class="swiper-wrapper">
              {% for image in product.images %}
                <div class="swiper-slide">
                  <img
                    src="{{ image | image_url: width: 120 }}"
                    alt="{{ product.title }}"
                  >
                </div>
              {% endfor -%}
            </div>
          </div>
          <div class="imgthumb_swiper_next">
            {{- 'swiper-right.svg' | inline_asset_content -}}
          </div>
        </div>
        <div class="product_info_left_thumb_select">
          <div class="product_info_left_thumb_select_item active">Photos</div>
          <div class="product_info_left_thumb_select_item">Video</div>
          <div class="product_info_left_thumb_select_item">3D</div>
          <div class="product_info_left_thumb_select_item">Specs</div>
        </div>
      </div>
    </div>
    <div class="product_info_right">
      <div class="product_info_title">{{ product.title }}</div>
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when '@app' -%}
            {% render block %}
        {%- endcase -%}
      {%- endfor -%}
      <div class="product_info_price">
        {{ product.price | money_without_trailing_zeros }}
        <div class="product_info_price_op">{{ product.compare_at_price | money_without_trailing_zeros }}</div>
        {%- if section.settings.show_tax_and_shipping -%}
          {%- if cart.taxes_included or shop.shipping_policy.body != blank -%}
            <div class="product_info_policies">
              {%- if cart.taxes_included -%}
                {{ 'products.product.include_taxes' | t }}
              {%- endif -%}
              {%- if shop.shipping_policy.body != blank -%}
                {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
              {%- endif -%}
            </div>
          {%- endif -%}
        {%- endif -%}
      </div>
      {% assign sale_info = product.metafields.custom.sale_info.value %}
      {% if sale_info != blank %}
        <div class="product_info_saleinfo">
          <div class="product_info_saleinfo_left">
            <div class="product_info_saleinfo_name">{{ sale_info.name }}</div>
            <div
              class="product_info_saleinfo_countdown"
              data-end-date="{{ sale_info.datetime | date: "%Y-%m-%dT%H:%M:%SZ" }}"
            >
              <span class="product_info_saleinfo_countdown_text">{{ 'common.ends_in' | t }}</span>
              <div class="product_info_saleinfo_countdown_item" data-type="day"></div>
              <span>:</span>
              <div class="product_info_saleinfo_countdown_item" data-type="hour"></div>
              <span>:</span>
              <div class="product_info_saleinfo_countdown_item" data-type="minute"></div>
              <span>:</span>
              <div class="product_info_saleinfo_countdown_item" data-type="second"></div>
            </div>
          </div>
          <div class="product_info_saleinfo_right">
            <div class="product_info_saleinfo_code">
              {{ 'common.code' | t -}}
              {{- sale_info.code }}
            </div>
            <div class="product_info_saleinfo_btn" data-code="{{ sale_info.code }}">
              {{ 'common.copy_and_use' | t }}
            </div>
          </div>
        </div>
      {% endif %}
      {% assign key_features = product.metafields.custom.key_features.value %}
      {% if key_features != blank %}
        <div class="product_info_key_features">
          {{ 'common.key_features' | t }}
          {{- 'swiper-right.svg' | inline_asset_content -}}
        </div>
        <div class="product_info_key_features_desc">{{ key_features.description }}</div>
      {% endif %}
    </div>
  </div>
</div>

<script src="{{ 'section-product-info.js' | asset_url  }}" defer></script>

{% schema %}
{
  "name": "product info",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "select",
      "id": "media_ratio",
      "options": [
        {
          "value": "1",
          "label": "1:1"
        },
        {
          "value": "1.33",
          "label": "4:3"
        },
        {
          "value": "1.77",
          "label": "16:9"
        }
      ],
      "default": "1.33",
      "label": "Media aspect ratio"
    },
    {
      "type": "checkbox",
      "id": "show_tax_and_shipping",
      "label": "Show tax and shipping information",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "product info"
    }
  ]
}
{% endschema %}
