{{ 'section-product-info.css' | asset_url | stylesheet_tag }}
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@6.0/dist/fancybox/fancybox.css"
>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

{% assign bundle_products = product.metafields.custom.bundle_products.value %}
{% assign accessory_types = '' %}

{% for bundled_product in bundle_products %}
  {% assign type = bundled_product.metafields.custom.bundle_type.value.name | strip %}

  {% unless accessory_types contains type %}
    {% assign accessory_types = accessory_types | append: type | append: ',' %}
  {% endunless %}
{% endfor %}
{%- assign accessory_type_array = accessory_types | split: ',' | uniq -%}
{% assign bundle_tabletop = product.metafields.custom.bundle_table_top.value %}
{% liquid
  assign bundle_tabletop = product.metafields.custom.bundle_table_top.value
  assign has_tabletop = false
  if bundle_tabletop != blank
    assign has_tabletop = true
  endif
%}
{% liquid
  assign price_dp = product.selected_or_first_available_variant.price | default: product.price

  comment
    if has_tabletop
      assign bundle_tabletop_price_dp = bundle_tabletop.selected_or_first_available_variant.price | default: bundle_tabletop.price
      assign price_dp = price_dp | plus: bundle_tabletop_price_dp
    endif
  endcomment

  assign price_op = product.selected_or_first_available_variant.compare_at_price | default: product.compare_at_price

  comment
    if has_tabletop
      assign bundle_tabletop_price_op = bundle_tabletop.selected_or_first_available_variant.compare_at_price | default: bundle_tabletop.compare_at_price | default: bundle_tabletop_price_dp
      assign price_op = price_op | plus: bundle_tabletop_price_op
    endif
  endcomment
%}
{% assign sale_info = product.metafields.custom.sale_info.value %}

<div class="product_info_section padding-sider" id="{{ section.settings.spec_id }}">
  <div class="product_info">
    <div class="product_info_left">
      {% assign has_video = false %}
      {% assign has_model = false %}
      <div
        class="product_info_left_contain"
        style="padding-bottom: {{ 1 | divided_by: section.settings.media_ratio | times: 100 }}%;"
      >
        {% assign media_types = 'video,model' | split: ',' %}
        <div class="swiper imgmain_swiper product_info_left_contain_group show" data-type="image">
          <div class="swiper-wrapper">
            {% for media in product.media %}
              {% if media.media_type == 'image' %}
                {% assign is_variant_img = false %}

                {% for variant in product.variants %}
                  {% if variant.featured_media and variant.featured_media.id == media.id %}
                    {% assign is_variant_img = true %}
                  {% endif %}
                {% endfor %}

                <a
                  class="swiper-slide"
                  data-media-id="{{ media.id }}"
                  {% unless is_variant_img %}
                    data-common="true"
                  {% endunless %}
                  data-fancybox="product_info_img"
                  href="{{ media.src | image_url }}"
                >
                  {{ media.src | image_url: width: media.src.width | image_tag: alt: product.title, preload: true }}
                </a>
              {% endif %}
            {% endfor %}
          </div>
          {% if has_tabletop %}
            <img
              src="{{ bundle_tabletop.selected_or_first_available_variant.featured_media | image_url }}"
              class="product_info_bundle_tabletop_img hidden"
            >
          {% endif %}
          <div class="imgmain_swiper_prev">
            {{- 'swiper-left.svg' | inline_asset_content -}}
          </div>
          <div class="imgmain_swiper_next">
            {{- 'swiper-right.svg' | inline_asset_content -}}
          </div>
        </div>
        {% for type in media_types %}
          {% if type == 'video' %}
            <div class="swiper videomain_swiper product_info_left_contain_group" data-type="{{ type }}">
              <div class="swiper-wrapper">
                {% for media in product.media %}
                  {% if media.media_type == type or media.media_type == 'external_video' %}
                    {% assign has_video = true %}
                    <div class="swiper-slide">
                      {{ media | media_tag: class: 'product_info_left_contain_group_item' }}
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
              <div class="videomain_swiper_prev">
                {{- 'swiper-left.svg' | inline_asset_content -}}
              </div>
              <div class="videomain_swiper_next">
                {{- 'swiper-right.svg' | inline_asset_content -}}
              </div>
            </div>
          {% endif %}
          {% if type == 'model' %}
            <div class="swiper modelmain_swiper product_info_left_contain_group" data-type="{{ type }}">
              <div class="swiper-wrapper">
                {% for media in product.media %}
                  {% if media.media_type == type %}
                    {% assign has_model = true %}
                    <div class="swiper-slide">
                      {{ media | media_tag: class: 'product_info_left_contain_group_item' }}
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
              <div class="modelmain_swiper_prev">
                {{- 'swiper-left.svg' | inline_asset_content -}}
              </div>
              <div class="modelmain_swiper_next">
                {{- 'swiper-right.svg' | inline_asset_content -}}
              </div>
            </div>
            {% comment %}
              <div
                class="product_info_left_contain_group"
                data-type="{{ type }}"
              >
                {% assign is_first = false %}
                {% for media in product.media %}
                  {% if media.media_type == type and is_first == false %}
                    {% assign has_model = true %}
                    {% assign is_first = true %}
                    {{ media | media_tag: class: 'product_info_left_contain_group_item' }}
                  {% endif %}
                {% endfor %}
              </div>
            {% endcomment %}
          {% endif %}
        {% endfor %}
      </div>
      <div class="product_info_left_thumb">
        <div class="product_info_left_thumb_left">
          <div class="imgthumb_swiper_box" data-type="image">
            <div class="imgthumb_swiper_prev">
              {{- 'swiper-left.svg' | inline_asset_content -}}
            </div>
            <div class="swiper imgthumb_swiper">
              <div class="swiper-wrapper">
                {% for media in product.media %}
                  {% if media.media_type == 'image' %}
                    {% assign is_variant_img = false %}

                    {% for variant in product.variants %}
                      {% if variant.featured_media and variant.featured_media.id == media.id %}
                        {% assign is_variant_img = true %}
                      {% endif %}
                    {% endfor %}

                    <div
                      class="swiper-slide"
                      data-media-id="{{ media.id }}"
                      {% unless is_variant_img %}
                        data-common="true"
                      {% endunless %}
                    >
                      <img
                        src="{{ media.src | image_url: width: 120 }}"
                        alt="{{ product.title }}"
                      >
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
            <div class="imgthumb_swiper_next">
              {{- 'swiper-right.svg' | inline_asset_content -}}
            </div>
          </div>
          <div class="videothumb_swiper_box" data-type="video">
            <div class="videothumb_swiper_prev">
              {{- 'swiper-left.svg' | inline_asset_content -}}
            </div>
            <div class="swiper videothumb_swiper">
              <div class="swiper-wrapper">
                {% for media in product.media %}
                  {% if media.media_type == 'video' or media.media_type == 'external_video' %}
                    <div class="swiper-slide">
                      <img
                        src="{{ media.preview_image | image_url: width: 120 }}"
                        alt="{{ product.title }}"
                      >
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
            <div class="videothumb_swiper_next">
              {{- 'swiper-right.svg' | inline_asset_content -}}
            </div>
          </div>
          <div class="modelthumb_swiper_box" data-type="model">
            <div class="modelthumb_swiper_prev">
              {{- 'swiper-left.svg' | inline_asset_content -}}
            </div>
            <div class="swiper modelthumb_swiper">
              <div class="swiper-wrapper">
                {% for media in product.media %}
                  {% if media.media_type == 'model' %}
                    <div class="swiper-slide">
                      <img
                        src="{{ media.preview_image | image_url: width: 120 }}"
                        alt="{{ product.title }}"
                      >
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
            <div class="modelthumb_swiper_next">
              {{- 'swiper-right.svg' | inline_asset_content -}}
            </div>
          </div>
        </div>
        <div class="product_info_left_thumb_select">
          <div class="product_info_left_thumb_select_item active" data-type="image">Photos</div>
          {% if has_video %}
            <div class="product_info_left_thumb_select_item" data-type="video">Video</div>
          {% endif %}
          {% if has_model %}
            <div class="product_info_left_thumb_select_item" data-type="model">3D</div>
          {% endif %}
          {% if section.settings.product_specs != blank %}
            <div class="product_info_left_thumb_select_item" data-type="specs">Specs</div>
            <div class="common_modal">
              <div class="common_modal_contain">
                <div class="common_modal_head">
                  <span></span>
                  <div class="common_modal_close">{{- 'icon-close.svg' | inline_asset_content -}}</div>
                </div>
                <div class="common_modal_body">
                  {{ section.settings.product_specs }}
                </div>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="product_info_right">
      {% if bundle_products != blank %}
        <div class="product_info_steps">
          <div class="product_info_steps_item active">
            <span>1.</span>
            <span>{{ 'common.schreibtisch_konfigurieren' | t }}</span>
          </div>
          <div class="product_info_steps_item">
            <span>2.</span>
            <span>{{ 'common.accessories_select' | t }}</span>
          </div>
          <div class="product_info_steps_item">
            <span>3.</span>
            <span>{{ 'common.confirm_selection' | t }}</span>
          </div>
        </div>
      {% endif %}
      <div class="product_info_steps_contain" data-index="0">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when '@app' -%}
              {% unless block.id contains 'klarna' %}
                {% render block %}
              {% endunless %}
            {%- when 'title' -%}
              {% if product.metafields.custom.product_tag.value != blank %}
                <div class="product_info_tag">{{ product.metafields.custom.product_tag.value }}</div>
              {% endif %}
              <div class="product_info_title">{{ product.title }}</div>
            {%- when 'price' -%}
              <div class="product_info_price">
                <div class="product_info_price_dp">
                  {{ price_dp | money_without_trailing_zeros }}
                </div>
                <div class="product_info_price_op{% unless price_op > price_dp %} hidden{% endunless %}">
                  {{ price_op | money_without_trailing_zeros }}
                </div>
                {% if price_op != blank and price_op > price_dp %}
                  <div class="product_info_price_saletag">
                    Save {{ price_op | minus: price_dp | money_without_trailing_zeros }}
                  </div>
                {% endif %}
                {%- if section.settings.show_tax_and_shipping -%}
                  {%- if cart.taxes_included or shop.shipping_policy.body != blank -%}
                    <div class="product_info_policies">
                      {%- if cart.taxes_included -%}
                        {{ 'products.product.include_taxes' | t }}
                      {%- endif -%}
                      {% comment %}
                        {%- if shop.shipping_policy.body != blank -%}
                          {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
                        {%- endif -%}
                      {% endcomment %}
                    </div>
                  {%- endif -%}
                {%- endif -%}
              </div>
              {% if sale_info != blank and sale_info.code != blank %}
                <div class="product_info_saleinfo">
                  <div class="product_info_saleinfo_left">
                    <div class="product_info_saleinfo_name">{{ sale_info.name }}</div>
                    <div
                      class="product_info_saleinfo_countdown"
                      data-end-date="{{ sale_info.datetime | date: "%Y-%m-%dT%H:%M:%SZ" }}"
                    >
                      <span class="product_info_saleinfo_countdown_text">{{ 'common.ends_in' | t }}</span>
                      <div class="product_info_saleinfo_countdown_item" data-type="day"></div>
                      <span>:</span>
                      <div class="product_info_saleinfo_countdown_item" data-type="hour"></div>
                      <span>:</span>
                      <div class="product_info_saleinfo_countdown_item" data-type="minute"></div>
                      <span>:</span>
                      <div class="product_info_saleinfo_countdown_item" data-type="second"></div>
                    </div>
                  </div>
                  <div class="product_info_saleinfo_right">
                    <div class="product_info_saleinfo_code">
                      {{ 'common.code' | t -}}
                      {{- sale_info.code }}
                    </div>
                    <div class="product_info_saleinfo_btn" data-code="{{ sale_info.code }}">
                      {{ 'common.copy_and_use' | t }}
                    </div>
                  </div>
                </div>
              {% endif %}
            {%- when 'key_feature' -%}
              {% assign key_features = product.metafields.custom.key_features.value %}
              {% if key_features != blank %}
                <div class="product_info_key_features">
                  {{ 'common.key_features' | t }}
                  {{- 'swiper-right.svg' | inline_asset_content -}}
                </div>
                <div class="product_info_key_features_desc">{{ key_features.description | metafield_tag }}</div>
                <div class="key_features_modal common_modal">
                  <div class="key_features_modal_contain common_modal_contain">
                    <div class="key_features_modal_head common_modal_head">
                      <span>{{ 'common.key_features' | t }}</span>
                      <div class="common_modal_close">{{- 'icon-close.svg' | inline_asset_content -}}</div>
                    </div>
                    <div class="key_features_modal_body common_modal_body">
                      {{ key_features.modal_description | metafield_tag }}
                    </div>
                  </div>
                </div>
              {% endif %}
            {%- when 'options' -%}
              <div class="product_info_option_contain">
                {%- for option in product.options_with_values -%}
                  {% assign option_hanlde = option.name | handle %}
                  <div class="product_info_option_item">
                    <div class="product_info_option_label">
                      {{ option.name }}：
                      <span class="product_info_option_label_select">
                        {%- for value in option.values -%}
                          {%- if value.selected %}{{ value }}{% endif -%}
                        {% endfor %}
                      </span>
                    </div>
                    <div
                      class="product_info_option_select"
                      select-type="{% if option_hanlde contains "farbe" %}circle{% else %}box{% endif %}"
                      data-index="{{ forloop.index0 }}"
                    >
                      {%- for value in option.values -%}
                        {% if option_hanlde contains 'farbe' %}
                          {% assign color = '' %}
                          {% assign color_img = '' %}
                          {% for color_item in product.metafields.custom.color_option.value %}
                            {% if color_item.name == value.name %}
                              {% assign color = color_item.value %}
                              {% assign color_img = color_item.image %}
                            {% endif %}
                          {% endfor %}
                          <div
                            data-value="{{ value }}"
                            class="product_info_option_select_item{% if value.selected %} product_info_option_select_item_select{% endif %}"
                            title="{{ value }}"
                          >
                            <div
                              class="product_info_option_select_item_circle{% if color == '' %} product_info_option_select_item_none{% endif %}"
                              {% if color_img != blank %}
                                style="background: url({{ color_img | image_url }}) no-repeat no-repeat center center"
                              {% elsif color != '' %}
                                style="background-color: {{ color }}"
                              {% endif %}
                            ></div>
                          </div>
                        {% else %}
                          <div
                            class="product_info_option_select_item{% if value.selected %} product_info_option_select_item_select{% endif %}"
                            data-value="{{ value }}"
                          >
                            {{ value }}
                          </div>
                        {% endif %}
                      {% endfor %}
                    </div>
                  </div>
                {% endfor %}
                {% if has_tabletop %}
                  {%- for option in bundle_tabletop.options_with_values -%}
                    {% assign option_hanlde = option.name | handle %}
                    <div class="product_info_option_item">
                      <div class="product_info_option_label">
                        {{ option.name }}：
                        <span class="product_info_option_label_select">
                          {% comment %}
                            {%- for value in option.values -%}
                              {%- if value.selected %}{{ value }}{% endif -%}
                            {% endfor %}
                          {% endcomment %}
                          {{ 'common.nur_tischgestell' | t }}
                        </span>
                      </div>
                      <div
                        class="product_info_option_select"
                        select-type="{% if option_hanlde contains "farbe" %}circle{% else %}box{% endif %}"
                        data-index="{{ forloop.index0 | plus: product.options.size }}"
                        data-type="bundle_tabletop"
                      >
                        {% if option_hanlde contains 'farbe' %}
                          <div
                            data-value="Nur Tischgestell"
                            class="product_info_option_select_item product_info_option_select_item_select"
                            title="Nur Tischgestell"
                          >
                            <div
                              class="product_info_option_select_item_circle product_info_option_select_item_none"
                            ></div>
                          </div>
                        {% else %}
                          <div
                            class="product_info_option_select_item product_info_option_select_item_select"
                            data-value="Nur Tischgestell"
                          >
                            {{ 'common.nur_tischgestell' | t }}
                          </div>
                        {% endif %}
                        {%- for value in option.values -%}
                          {% if option_hanlde contains 'farbe' %}
                            {% assign color = '' %}
                            {% assign color_img = '' %}
                            {% for color_item in bundle_tabletop.metafields.custom.color_option.value %}
                              {% if color_item.name == value.name %}
                                {% assign color = color_item.value %}
                                {% assign color_img = color_item.image %}
                              {% endif %}
                            {% endfor %}
                            <div
                              data-value="{{ value }}"
                              class="product_info_option_select_item"
                              title="{{ value }}"
                            >
                              <div
                                class="product_info_option_select_item_circle{% if color == '' %} product_info_option_select_item_none{% endif %}"
                                {% if color_img != blank %}
                                  style="background: url({{ color_img | image_url }}) no-repeat no-repeat center center"
                                {% elsif color != '' %}
                                  style="background-color: {{ color }}"
                                {% endif %}
                              ></div>
                            </div>
                          {% else %}
                            <div
                              class="product_info_option_select_item hidden"
                              data-value="{{ value }}"
                            >
                              {{ value }}
                            </div>
                          {% endif %}
                        {% endfor %}
                      </div>
                    </div>
                  {% endfor %}
                {% endif %}
              </div>
            {%- when 'custom-liquid' -%}
              {{ block.settings.custom_liquid }}
          {%- endcase -%}
        {%- endfor -%}
      </div>
      <div class="product_info_steps_contain hidden" data-index="1">
        <div class="product_info_bundle_info">
          <div class="product_info_bundle_info_title">{{ 'common.gesamtsumme' | t }}</div>
          <div class="product_info_bundle_info_right">
            <span class="product_info_bundle_info_total product_info_price_dp">
              {{- price_dp | money_without_trailing_zeros -}}
            </span>
            {%- if section.settings.show_tax_and_shipping -%}
              {%- if cart.taxes_included or shop.shipping_policy.body != blank -%}
                <div class="product_info_policies">
                  {%- if cart.taxes_included -%}
                    {{ 'products.product.include_taxes' | t }}
                  {%- endif -%}
                </div>
              {%- endif -%}
            {%- endif -%}
          </div>
        </div>
        <div class="product_info_bundle_products_contain">
          {% for type in accessory_type_array %}
            {% unless type == '' %}
              <div class="product_info_bundle_products_type">{{ type }}:</div>
              <div class="product_info_bundle_products_type_group">
                {% for bundled_product in bundle_products %}
                  {% if bundled_product.metafields.custom.bundle_type.value.name == type %}
                    <div
                      class="product_info_bundle_product{% unless bundled_product.available %} product_info_bundle_product_disabled{% endunless %}"
                      data-price="{{ bundled_product.selected_or_first_available_variant.price | default: bundled_product.price }}"
                      data-id="{{ bundled_product.id }}"
                      data-variant-id="{{ bundled_product.selected_or_first_available_variant.id  }}"
                    >
                      <div class="product_info_bundle_product_img">
                        <img
                          src="{{ bundled_product.selected_or_first_available_variant.featured_media | default: bundled_product.featured_media | image_url }}"
                          alt="{{ bundled_product.title }}"
                        >
                        <div class="product_info_bundle_product_viewdetail">
                          {{- 'view-detail.svg' | inline_asset_content -}}
                        </div>
                      </div>
                      <div class="product_info_bundle_product_info">
                        {%- for option in bundled_product.options_with_values -%}
                          {% assign option_hanlde = option.name | handle %}
                          {% if option_hanlde contains 'farbe' %}
                            <div class="product_info_bundle_modal_item">
                              <div
                                class="product_info_bundle_modal_select"
                                select-type="circle"
                                data-index="{{ forloop.index0 }}"
                                data-type="card_circle"
                              >
                                {% assign index = 'option' | append: forloop.index %}
                                {%- for value in option.values -%}
                                  {% assign available_variant = bundled_product.variants
                                    | where: index, value
                                    | where: 'available'
                                  %}
                                  {% if available_variant.size > 0 %}
                                    {% assign color = '' %}
                                    {% assign color_img = '' %}
                                    {% for color_item in bundled_product.metafields.custom.color_option.value %}
                                      {% if color_item.name == value.name %}
                                        {% assign color = color_item.value %}
                                        {% assign color_img = color_item.image %}
                                      {% endif %}
                                    {% endfor %}
                                    <div
                                      data-value="{{ value }}"
                                      class="product_info_bundle_modal_select_item{% if value.selected %} product_info_bundle_modal_select_item_select{% endif %}"
                                      title="{{ value }}"
                                      data-img="{{ value.variant.featured_media | image_url }}"
                                    >
                                      <div
                                        class="product_info_bundle_modal_select_item_circle{% if color == '' %} product_info_bundle_modal_select_item_none{% endif %}"
                                        {% if color_img != blank %}
                                          style="background: url({{ color_img | image_url }}) no-repeat no-repeat center center"
                                        {% elsif color != '' %}
                                          style="background-color: {{ color }}"
                                        {% endif %}
                                      ></div>
                                    </div>
                                  {% endif %}
                                {% endfor %}
                              </div>
                            </div>
                          {% endif %}
                        {% endfor %}
                        <div class="product_info_bundle_product_title">{{ bundled_product.title }}</div>
                        <div class="product_info_bundle_product_price">
                          <div class="product_info_bundle_product_price_dp">
                            +
                            {{-
                              bundled_product.selected_or_first_available_variant.price
                              | default: bundled_product.price
                              | money_without_trailing_zeros
                            }}
                          </div>
                          {% if bundled_product.selected_or_first_available_variant.compare_at_price != blank
                            and bundled_product.selected_or_first_available_variant.compare_at_price
                              > bundled_product.selected_or_first_available_variant.price
                          %}
                            <div class="product_info_bundle_product_price_op">
                              {{
                                bundled_product.selected_or_first_available_variant.compare_at_price
                                | default: bundled_product.compare_at_price
                                | money_without_trailing_zeros
                              }}
                            </div>
                          {% endif %}
                        </div>
                      </div>
                      <div class="common_modal">
                        <div class="common_modal_contain">
                          <div class="common_modal_head">
                            <span></span>
                            <div class="common_modal_close">{{- 'icon-close.svg' | inline_asset_content -}}</div>
                          </div>
                          <div class="common_modal_body">
                            <img
                              src="{{ bundled_product.selected_or_first_available_variant.featured_media | default: bundled_product.featured_media | image_url }}"
                              alt="{{ bundled_product.title }}"
                              class="product_info_bundle_modal_img"
                            >
                            <div class="product_info_bundle_modal">
                              <div class="product_info_bundle_modal_title">{{ bundled_product.title }}</div>
                              {% render 'product-rating', product: bundled_product %}
                              <div class="product_info_bundle_modal_price">
                                <div class="product_info_bundle_modal_price_dp">
                                  {{
                                    bundled_product.selected_or_first_available_variant.price
                                    | default: bundled_product.price
                                    | money_without_trailing_zeros
                                  }}
                                </div>
                                {% if bundled_product.selected_or_first_available_variant.compare_at_price != blank
                                  and bundled_product.selected_or_first_available_variant.compare_at_price
                                    > bundled_product.selected_or_first_available_variant.price
                                %}
                                  <div class="product_info_bundle_modal_price_op">
                                    {{
                                      bundled_product.selected_or_first_available_variant.compare_at_price
                                      | default: bundled_product.compare_at_price
                                      | money_without_trailing_zeros
                                    }}
                                  </div>
                                {% endif %}
                              </div>

                              <div class="product_info_bundle_modal_contain">
                                {%- for option in bundled_product.options_with_values -%}
                                  {% assign option_hanlde = option.name | handle %}
                                  <div class="product_info_bundle_modal_item">
                                    <div class="product_info_bundle_modal_label">
                                      {{ option.name }}：
                                      <span class="product_info_bundle_modal_label_select">
                                        {%- for value in option.values -%}
                                          {%- if value.selected %}{{ value }}{% endif -%}
                                        {% endfor %}
                                      </span>
                                    </div>
                                    <div
                                      class="product_info_bundle_modal_select"
                                      select-type="{% if option_hanlde contains "farbe" %}circle{% else %}box{% endif %}"
                                      data-index="{{ forloop.index0 }}"
                                    >
                                      {% assign index = 'option' | append: forloop.index %}
                                      {%- for value in option.values -%}
                                        {% assign available_variant = bundled_product.variants
                                          | where: index, value
                                          | where: 'available'
                                        %}
                                        {% if available_variant.size > 0 %}
                                          {% if option_hanlde contains 'farbe' %}
                                            {% assign color = '' %}
                                            {% assign color_img = '' %}
                                            {% for color_item in bundled_product.metafields.custom.color_option.value %}
                                              {% if color_item.name == value.name %}
                                                {% assign color = color_item.value %}
                                                {% assign color_img = color_item.image %}
                                              {% endif %}
                                            {% endfor %}
                                            <div
                                              data-value="{{ value }}"
                                              class="product_info_bundle_modal_select_item{% if value.selected %} product_info_bundle_modal_select_item_select{% endif %}"
                                              title="{{ value }}"
                                            >
                                              <div
                                                class="product_info_bundle_modal_select_item_circle{% if color == '' %} product_info_bundle_modal_select_item_none{% endif %}"
                                                {% if color_img != blank %}
                                                  style="background: url({{ color_img | image_url }}) no-repeat no-repeat center center"
                                                {% elsif color != '' %}
                                                  style="background-color: {{ color }}"
                                                {% endif %}
                                              ></div>
                                            </div>
                                          {% else %}
                                            <div
                                              class="product_info_bundle_modal_select_item{% if value.selected %} product_info_bundle_modal_select_item_select{% endif %}"
                                              data-value="{{ value }}"
                                            >
                                              {{ value }}
                                            </div>
                                          {% endif %}
                                        {% endif %}
                                      {% endfor %}
                                    </div>
                                  </div>
                                {% endfor %}
                              </div>
                              <div class="product_info_bundle_modal_btn">{{ 'common.choose' | t }}</div>
                            </div>
                          </div>
                        </div>
                      </div>
                      {% unless bundled_product.available %}
                        <div class="product_info_bundle_product_disabled_text">{{ 'common.out_of_stock' | t }}</div>
                      {% endunless %}
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
            {% endunless %}
          {% endfor %}
        </div>
      </div>
      <div class="product_info_steps_contain hidden" data-index="2">
        <div class="product_info_bundle_info">
          <div class="product_info_bundle_info_title">{{ 'common.gesamtsumme' | t }}</div>
          <div class="product_info_bundle_info_right">
            <span class="product_info_bundle_info_total product_info_price_dp">
              {{- price_dp | money_without_trailing_zeros -}}
            </span>
            {%- if section.settings.show_tax_and_shipping -%}
              {%- if cart.taxes_included or shop.shipping_policy.body != blank -%}
                <div class="product_info_policies">
                  {%- if cart.taxes_included -%}
                    {{ 'products.product.include_taxes' | t }}
                  {%- endif -%}
                </div>
              {%- endif -%}
            {%- endif -%}
          </div>
        </div>
        <div class="product_info_steps_contain_item_title">{{ product.title }}</div>
        <div class="product_info_steps_contain_item_box" data-type="option">
          {%- for option in product.options_with_values -%}
            <div class="product_info_steps_contain_item_box_line">
              <span>{{ option.name }}:</span>
              <span class="product_info_steps_contain_item_box_line_value">
                {%- for value in option.values -%}
                  {%- if value.selected %}{{ value }}{% endif -%}
                {% endfor -%}
              </span>
            </div>
          {%- endfor -%}
          {% if has_tabletop %}
            {%- for option in bundle_tabletop.options_with_values -%}
              <div class="product_info_steps_contain_item_box_line">
                <span>{{ option.name }}:</span>
                <span class="product_info_steps_contain_item_box_line_value">
                  {%- for value in option.values -%}
                    {%- if value.selected %}{{ value }}{% endif -%}
                  {% endfor -%}
                </span>
              </div>
            {%- endfor -%}
          {% endif %}
        </div>
        <div class="product_info_steps_contain_item_title hidden" data-type="accesories">
          {{ 'common.accesories' | t }}
        </div>
        <div class="product_info_steps_contain_item_box hidden" data-type="accesories"></div>
      </div>
      <div class="product_info_preorderbox{% if product.selected_or_first_available_variant.metafields.custom.preorder_text.value == blank %} hidden{% endif %}">
        {{ product.selected_or_first_available_variant.metafields.custom.preorder_text.value }}
      </div>
      <div class="product_info_buybox">
        <input
          type="hidden"
          name="goods_id"
          value="{{ product.selected_or_first_available_variant.id | default: product.id }}"
        >
        {% if has_tabletop %}
          <input
            type="hidden"
            name="bundle_tabletop_id"
            value=""
          >
        {% endif %}
        <div class="product_info_buybox_contain">
          {% if bundle_products != blank %}
            <div class="product_info_bundle_prevnext">
              <div class="product_info_bundle_prevnext_btn" data-type="prev">
                {{ 'icon-right-arrow.svg' | inline_asset_content }}
                {{ 'common.zuruck' | t }}
              </div>
              <div class="product_info_bundle_prevnext_btn active" data-type="next">
                {{ 'common.weiter' | t }}
                {{ 'icon-right-arrow.svg' | inline_asset_content }}
              </div>
            </div>
          {% endif %}
          <div class="product_info_buybox_quantity_box">
            <span class="product_info_buybox_quantity_btn" data-type="minus">
              {{ 'quantity-minus.svg' | inline_asset_content }}
            </span>
            <input
              class="product_info_buybox_quantity_input"
              type="text"
              name="quantity"
              value="1"
            >
            <span class="product_info_buybox_quantity_btn" data-type="plus">
              {{ 'quantity-plus.svg' | inline_asset_content }}
            </span>
          </div>
          <button
            class="product_info_buybox_btns_btn"
            data-type="add_to_cart"
            {% if product.selected_or_first_available_variant.available == false
              or product.selected_or_first_available_variant == null
            %}
              disabled
            {% endif %}
          >
            {%- capture add_to_cart_text -%}
                {%- if product.template_suffix contains 'preorder' -%}
                  {{- 'products.product.preorder' | t -}}
                {%- else -%}
                  {{- 'products.product.add_to_cart' | t -}}
                {%- endif -%}
              {%- endcapture -%}
            {% if product.selected_or_first_available_variant.available %}
              {{- add_to_cart_text -}}
            {% else %}
              {{ 'products.product.sold_out' | t }}
            {% endif %}
            {{ 'icon-cart-empty.svg' | inline_asset_content }}
          </button>
        </div>
        <button
          data-type="buy_it_now"
          type="submit"
          class="product_info_buybox_btns_btn"
          {% if product.selected_or_first_available_variant.available == false
            or product.selected_or_first_available_variant == null
          %}
            disabled
          {% endif %}
        >
          {{ 'common.jetzt_kaufen' | t }}
        </button>
        {% comment %} {{ form | payment_button }} {% endcomment %}
      </div>
      {%- for block in section.blocks -%}
        {%- if block.type == '@app' and block.id contains 'klarna' -%}
          {% render block %}
        {%- endif -%}
      {%- endfor -%}
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'wholesale_modal' -%}
            {% render 'wholesale-modal',
              icon: block.settings.icon,
              title: block.settings.title,
              modal_tip: block.settings.modal_tip,
              modal_title: block.settings.modal_title,
              modal_content: block.settings.modal_content,
              success_message: block.settings.success_message,
              error_message: block.settings.error_message
            %}
          {%- when 'modal' -%}
            {% render 'product-info-modal',
              icon: block.settings.icon,
              title: block.settings.title,
              content: block.settings.content
            %}
          {%- when 'payment_methods' -%}
            <div class="product_info_payment">
              <div class="product_info_payment_head">
                {{ block.settings.icon }}
                {{ block.settings.title }}
              </div>
              <div class="product_info_payment_contain">
                {%- for type in shop.enabled_payment_types -%}
                  {{ type | payment_type_svg_tag }}
                {%- endfor -%}
                <svg width="39" height="17" viewBox="0 0 39 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0_2409_70931)">
                  <path d="M0 8.33307C0 5.07769 0 3.44999 0.798673 2.29077C1.11119 1.83717 1.50391 1.44444 1.95751 1.13193C3.11674 0.333252 4.74443 0.333252 7.99982 0.333252H30.023C33.2782 0.333252 34.906 0.333252 36.0652 1.13193C36.5189 1.44444 36.9117 1.83717 37.224 2.29077C38.0227 3.44999 38.0227 5.07769 38.0227 8.33307C38.0227 11.5885 38.0227 13.2162 37.224 14.3754C36.9117 14.829 36.5189 15.2217 36.0652 15.5342C34.906 16.3329 33.2782 16.3329 30.023 16.3329H7.99984C4.74443 16.3329 3.11674 16.3329 1.95751 15.5342C1.50391 15.2217 1.11119 14.829 0.798673 14.3754C0 13.2162 0 11.5885 0 8.33307Z" fill="#FFA8CD"/>
                  <path d="M30.6408 10.5535C29.9774 10.5535 29.4603 10.0049 29.4603 9.33877C29.4603 8.67263 29.9774 8.12405 30.6408 8.12405C31.3042 8.12405 31.8212 8.67263 31.8212 9.33877C31.8212 10.0049 31.3042 10.5535 30.6408 10.5535ZM30.3089 11.8367C30.8749 11.8367 31.5968 11.6212 31.997 10.7788L32.0358 10.7984C31.8603 11.2588 31.8603 11.5331 31.8603 11.6017V11.7094H33.2846V6.96811H31.8603V7.07588C31.8603 7.14446 31.8603 7.41874 32.0358 7.87914L31.997 7.89874C31.5968 7.05628 30.8749 6.84077 30.3089 6.84077C28.953 6.84077 27.997 7.91834 27.997 9.33877C27.997 10.7592 28.953 11.8367 30.3089 11.8367ZM25.5188 6.84077C24.8749 6.84077 24.3676 7.06608 23.9578 7.89874L23.9188 7.87914C24.0944 7.41874 24.0944 7.14446 24.0944 7.07588V6.96811H22.67V11.7094H24.1334V9.2114C24.1334 8.55508 24.514 8.14363 25.1286 8.14363C25.7432 8.14363 26.0456 8.49628 26.0456 9.2016V11.7094H27.5091V8.69223C27.5091 7.61466 26.6699 6.84077 25.5188 6.84077ZM20.553 7.89874L20.5139 7.87914C20.6895 7.41874 20.6895 7.14446 20.6895 7.07588V6.96811H19.2652V11.7094H20.7286L20.7383 9.42691C20.7383 8.7608 21.0895 8.35914 21.6652 8.35914C21.8212 8.35914 21.9481 8.37874 22.0944 8.41794V6.96811C21.4505 6.83097 20.8749 7.07588 20.553 7.89874ZM15.8993 10.5535C15.2359 10.5535 14.7188 10.0049 14.7188 9.33877C14.7188 8.67263 15.2359 8.12405 15.8993 8.12405C16.5627 8.12405 17.0798 8.67263 17.0798 9.33877C17.0798 10.0049 16.5627 10.5535 15.8993 10.5535ZM15.5676 11.8367C16.1334 11.8367 16.8554 11.6212 17.2554 10.7788L17.2944 10.7984C17.1188 11.2588 17.1188 11.5331 17.1188 11.6017V11.7094H18.5432V6.96811H17.1188V7.07588C17.1188 7.14446 17.1188 7.41874 17.2944 7.87914L17.2554 7.89874C16.8554 7.05628 16.1334 6.84077 15.5676 6.84077C14.2115 6.84077 13.2554 7.91834 13.2554 9.33877C13.2554 10.7592 14.2115 11.8367 15.5676 11.8367ZM11.2163 11.7094H12.6798V4.85217H11.2163V11.7094ZM10.1432 4.85217H8.65049C8.65049 6.07669 7.89928 7.17383 6.75781 7.95751L6.30902 8.271V4.85217H4.75781V11.7094H6.30902V8.31017L8.87488 11.7094H10.7676L8.29928 8.45711C9.42122 7.64405 10.1529 6.38034 10.1432 4.85217Z" fill="#0B051D"/>
                  </g>
                  <defs>
                  <clipPath id="clip0_2409_70931">
                  <rect width="38.0427" height="16" fill="white" transform="translate(0 0.333252)"/>
                  </clipPath>
                  </defs>
                </svg>
              </div>
            </div>
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>

  <div class="product_info_bottom_bar">
    <div class="product_info_bottom_bar_contain padding-sider">
      <div class="product_infor_simplicity_right_select_title">{{ product.title }}</div>
      <div class="product_info_bottom_bar_contain_right">
        <div>
          {% if sale_info != blank %}
            <div
              class="product_info_bottom_bar_saleinfo"
              data-end-date="{{ sale_info.datetime | date: "%Y-%m-%dT%H:%M:%SZ" }}"
            >
              <span class="product_info_saleinfo_countdown_text">{{ 'common.ends_in' | t }}</span>
              <div class="product_info_saleinfo_countdown_item" data-type="day"></div>
              <span>:</span>
              <div class="product_info_saleinfo_countdown_item" data-type="hour"></div>
              <span>:</span>
              <div class="product_info_saleinfo_countdown_item" data-type="minute"></div>
              <span>:</span>
              <div class="product_info_saleinfo_countdown_item" data-type="second"></div>
            </div>
          {% endif %}
          <div class="product_info_price">
            <div class="product_info_price_dp">
              {{ price_dp | money_without_trailing_zeros }}
            </div>
            <div class="product_info_price_op{% unless price_op > price_dp %} hidden{% endunless %}">
              {{ price_op | money_without_trailing_zeros }}
            </div>
            {%- if section.settings.show_tax_and_shipping -%}
              {%- if cart.taxes_included or shop.shipping_policy.body != blank -%}
                <div class="product_info_policies">
                  {%- if cart.taxes_included -%}
                    {{ 'products.product.include_taxes' | t }}
                  {%- endif -%}
                  {% comment %}
                    {%- if shop.shipping_policy.body != blank -%}
                      {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
                    {%- endif -%}
                  {% endcomment %}
                </div>
              {%- endif -%}
            {%- endif -%}
          </div>
        </div>
        <div class="product_info_bottom_bar_contain_right_buybox">
          <button
            class="product_info_buybox_btns_btn"
            data-type="add_to_cart"
            {% if product.selected_or_first_available_variant.available == false
              or product.selected_or_first_available_variant == null
            %}
              disabled
            {% endif %}
          >
            {%- capture add_to_cart_text -%}
                {%- if product.template_suffix contains 'preorder' -%}
                  {{- 'products.product.preorder' | t -}}
                {%- else -%}
                  {{- 'products.product.add_to_cart' | t -}}
                {%- endif -%}
              {%- endcapture -%}
            {% if product.selected_or_first_available_variant.available %}
              {{- add_to_cart_text -}}
            {% else %}
              {{ 'products.product.sold_out' | t }}
            {% endif %}
          </button>
          <button
            data-type="buy_it_now"
            type="submit"
            class="product_info_buybox_btns_btn"
            {% if product.selected_or_first_available_variant.available == false
              or product.selected_or_first_available_variant == null
            %}
              disabled
            {% endif %}
          >
            {{ 'common.jetzt_kaufen' | t }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@6.0/dist/fancybox/fancybox.umd.js"></script>
{% for currency in shop.enabled_currencies %}
  {% if currency.iso_code == shop.currency %}
    {%- assign currency_symbol = currency.symbol -%}
    {% break %}
  {% endif %}
{% endfor %}
<script type="application/json" id="product_info_data">
  {
    "product": {{- product | json -}},
    "variant": {{ product.selected_or_first_available_variant | json }},
    "symbol": {{ currency_symbol | json }},
    "preorder_text": {
      {% for variant in product.variants %}
        "{{ variant.id }}": {{ variant.metafields.custom.preorder_text.value | json }}{% unless forloop.last %},{% endunless %}
      {% endfor %}
    }
  }
</script>
<script type="application/json" id="bundle_products_data">
  {
    {% for product in bundle_products %}
      "{{ product.id }}": {
        "product": {{- product | json -}},
        "variant": {{ product.selected_or_first_available_variant | json }},
        "symbol": {{ currency_symbol | json }}
      }{% unless forloop.last %},{% endunless %}
    {% endfor %}
  }
</script>
<script type="application/json" id="bundle_tabletop_data">
  {
    "product": {{- bundle_tabletop | json -}},
    "variant": {{ bundle_tabletop.selected_or_first_available_variant | json }},
    "has_tabletop": {{ has_tabletop | json }},
    "preorder_text": {
      {% for variant in bundle_tabletop.variants %}
        "{{ variant.id }}": {{ variant.metafields.custom.preorder_text.value | json }}{% unless forloop.last %},{% endunless %}
      {% endfor %}
    }
  }
</script>
<script src="{{ 'section-product-info.js' | asset_url  }}" defer></script>

{% schema %}
{
  "name": "product info",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "spec_id",
      "label": "specId"
    },
    {
      "type": "select",
      "id": "media_ratio",
      "options": [
        {
          "value": "1",
          "label": "1:1"
        },
        {
          "value": "1.33",
          "label": "4:3"
        },
        {
          "value": "1.77",
          "label": "16:9"
        }
      ],
      "default": "1.33",
      "label": "Media aspect ratio"
    },
    {
      "type": "checkbox",
      "id": "show_tax_and_shipping",
      "label": "Show tax and shipping information",
      "default": true
    },
    {
      "type": "liquid",
      "id": "product_specs",
      "label": "product specs modal content"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "modal",
      "name": "modal",
      "settings": [
        {
          "type": "richtext",
          "id": "title",
          "label": "title"
        },
        {
          "type": "textarea",
          "id": "icon",
          "label": "icon"
        },
        {
          "type": "liquid",
          "id": "content",
          "label": "content"
        }
      ]
    },
    {
      "type": "payment_methods",
      "name": "Payment Methods",
      "settings": [
        {
          "type": "richtext",
          "id": "title",
          "label": "title"
        },
        {
          "type": "textarea",
          "id": "icon",
          "label": "icon"
        }
      ]
    },
    {
      "type": "wholesale_modal",
      "name": "wholesale modal",
      "settings": [
        {
          "type": "richtext",
          "id": "title",
          "label": "title"
        },
        {
          "type": "textarea",
          "id": "icon",
          "label": "icon"
        },
        {
          "type": "richtext",
          "id": "modal_title",
          "label": "modal title"
        },
        {
          "type": "richtext",
          "id": "modal_content",
          "label": "modal content"
        },
        {
          "type": "richtext",
          "id": "modal_tip",
          "label": "modal tip"
        },
        {
          "type": "text",
          "id": "success_message",
          "label": "成功消息",
          "default": "Your message has been sent successfully."
        },
        {
          "type": "text",
          "id": "error_message",
          "label": "错误消息",
          "default": "There was an error sending the form. Please check your input."
        }
      ]
    },
    {
      "type": "custom-liquid",
      "name": "Custom Liquid",
      "settings": [
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "Custom Liquid"
        }
      ]
    },
    {
      "type": "title",
      "name": "title"
    },
    {
      "type": "price",
      "name": "price"
    },
    {
      "type": "options",
      "name": "options"
    },
    {
      "type": "key_feature",
      "name": "key feature"
    }
  ],
  "presets": [
    {
      "name": "product info"
    }
  ]
}
{% endschema %}
