{% comment %}
------------------------------------------------------------
Products Swiper Section - 选择产品进行轮播
------------------------------------------------------------
{% endcomment %}
<div class="product-carousel  padding-top-120 padding-bottom-120 session-box-padding" >
    {% unless section.settings.title == blank %}
      <h2 class="padding-bottom-60 session-box-inner">{{ section.settings.title }}</h2>
    {% endunless %}
    <div class="session-box-inner product-carousel-c">
      <div class="product-carousel-container">
        <div class="swiper-wrapper">
          {% for product in section.settings.product_list %}
            <div class="swiper-slide product-card">
              <a href="{{ product.url }}">
                {{-
                  product.featured_image
                  | image_url: width: product.featured_image.width
                  | image_tag: alt: product.title
                -}}
                <div class="product_info">
                  <h4 class="product_title">{{ product.title }}</h4>
                  <div class="product_price">
                    <h4>{{ product.price | money_without_trailing_zeros }} </h4>
                    {% if product.compare_at_price != blank %}
                      <div class="product_price_cap text-body">
                        {{ product.compare_at_price | money_without_trailing_zeros }}
                      </div>
                    {% endif %}
                  </div>
                </div>
              </a>
            </div>
          {% endfor %}
        </div>
        
      </div>
      <!-- 导航箭头 -->
      <div class="product-button-prev">{{- 'swiper-left.svg' | inline_asset_content -}}</div>
      <div class="product-button-next">{{- 'swiper-right.svg' | inline_asset_content -}}</div>
    </div>
</div>

<style>
    .product-carousel{background-color: #E2DED6;overflow: hidden;}
    .product-carousel-c{position: relative;}
    .product-carousel-container {
      margin: 2rem auto;
      position: relative;
      overflow: hidden;
      width:100vw;
    }
    .product-card {
      background: #fff;
    }
    .product-card img {
      width: 100%;
      height: auto;
    }
    .product-carousel .product_info {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 2.6rem;
      background-color: #7F7E75;
      padding: 0.5rem 2rem 2rem 2rem;
      position: relative;
    }
    .product-carousel .product_info::before {
      content: "";
      height: 5rem;
      width: 17.8rem;
      background-color: #7F7E75;
      position: absolute;
      top: 0;
      left: 0;
      transform: translateY(-100%);
    }
    .product-carousel .product_title{
      {% comment %} padding-bottom: 0.8rem; {% endcomment %}
       color:#BDFF00;
       display: -webkit-box;
      -webkit-line-clamp: 3;      
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 1em;
      min-height: calc(1em * 3);
    }
    .product-carousel .product_price {
      display: flex;
      align-items: flex-end;
      gap: 1rem;
      color: #fff;
    }
    .product-carousel .product_price h4 {
      color: #fff;
    }
    .product-carousel .product_price_cap {
      text-decoration: line-through;
      color: #E2DED6;
    }
    .product-carousel .product_btn {
      width: 100%;
      margin-top: 2rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .product-carousel .product-button-prev, .product-carousel .product-button-next {
      width: 6rem;
      height: 6rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fff9;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
      cursor: pointer;
    }
    .product-carousel .product-button-prev:hover, .product-carousel .product-button-next:hover {
      background-color: #1f1f1f99;
    }
    .product-carousel .product-button-prev:hover svg path, .product-carousel .product-button-next:hover svg path {
      fill: #bdff00;
    }
    .product-carousel .product-button-prev {
      left: -7rem;
    }
    
    .product-carousel .product-button-next {
      right: -7rem;
    }
    @media only screen and (max-width: 1024px) {
      .product-carousel .product_info::before {
        height: 3rem;
        width: 15rem;
      }
    }
    @media only screen and (max-width: 767px) {
      .product-carousel .product_info::before {
        height: 3rem;
        width: 15rem;
      }
    }
    
</style>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    new Swiper(".product-carousel-container", {
      slidesPerView: 5,
      slidesPerGroup: 1,
      spaceBetween: 30,
      loop: false,
      navigation: {
        nextEl: ".product-button-next",
        prevEl: ".product-button-prev",
      },
      breakpoints: {
        0: {
          slidesPerView: 1
        },
        768: {
          slidesPerView: 3
        },
        1025: {
          slidesPerView: 4
        }
      }
    });
  });
</script>

{% schema %}
{
  "name": "product carousel",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
        "type": "text",
        "id": "title",
        "label": "title"
    },
    {
      "type": "product_list",
      "id": "product_list",
      "label": "product list"
    }
  ],
  
  "presets": [
    {
      "name": "product carousel two"
    }
  ]
}
{% endschema %}