{{ 'section-recommended-products.css' | asset_url | stylesheet_tag }}
{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 767px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
<div
  class="recommended_products_section padding-sider section-{{ section.id }}-padding"
  id="{{ section.settings.spec_id }}"
>
  <div class="recommended_products">
    <h2 class="recommended_products_title">{{ section.settings.title }}</h2>
    <div class="recommended_products_contain swiper">
      <div class="swiper-wrapper">
        {% for product in section.settings.product_list %}
          <a class="swiper-slide recommended_products_product" href="{{ product.url }}" data-id="{{ product.id }}">
            <div class="recommended_products_img">
              <img src="{{ product.featured_image | image_url }}" alt="{{ product.title }}">
            </div>
            <div class="recommended_products_info">
              <div>
                {% assign product_title_top = product.metafields.custom.product_title_top %}
                <h4 class="product_title_top">
                  {% if product_title_top != blank %}
                    {{ product_title_top }}
                  {% else %}
                    Maidesite
                  {% endif %}
                </h4>
                <h4 class="recommended_products_info_title">{{ product.title }}</h4>
                <h4 class="recommended_products_info_price has_product_price_cap">
                  {{ product.selected_or_first_available_variant.price | money_without_trailing_zeros }}
                  {% if product.selected_or_first_available_variant.compare_at_price != blank and product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price %}
                    <span class="header_menu_item_submenu_product_price_cap">
                      {{ product.selected_or_first_available_variant.compare_at_price | money_without_trailing_zeros }}
                    </span>
                  {% endif %}
                </h4>
                {% comment %}
                  <div class="recommended_products_info_flex">
                    <div class="recommended_products_info_price">
                      {{ product.price | money_without_trailing_zeros }}
                      {% if product.compare_at_price %}
                        <span class="recommended_products_info_price_op">
                          {{- product.compare_at_price | money_without_trailing_zeros -}}
                        </span>
                      {% endif %}
                    </div>
                    <div
                      class="recommended_products_info_btn"
                      data-value="{{ product.selected_or_first_available_variant.id }}"
                    >
                      {{- 'icon-faq-close.svg' | inline_asset_content -}}
                    </div>
                  </div>
                {% endcomment %}
                {%- for option in product.options_with_values -%}
                  {% assign option_hanlde = option.name | handle %}
                  <div class="recommended_products_option_item">
                    <div class="recommended_products_option_label">{{ option.name }}</div>
                    <div
                      class="recommended_products_option_select"
                      select-type="{% if option_hanlde contains "farbe" %}circle{% else %}box{% endif %}"
                      data-index="{{ forloop.index0 }}"
                    >
                      {% assign index = 'option' | append: forloop.index %}
                      {%- for value in option.values -%}
                        {% assign available_variant = product.variants | where: index, value | where: 'available' %}
                        {% if available_variant.size > 0 %}
                          {% if option_hanlde contains 'farbe' %}
                            {% assign color = '' %}
                            {% assign color_img = '' %}
                            {% for color_item in product.metafields.custom.color_option.value %}
                              {% if color_item.name == value.name %}
                                {% assign color = color_item.value %}
                                {% assign color_img = color_item.image %}
                              {% endif %}
                            {% endfor %}
                            <div
                              data-value="{{ value }}"
                              class="recommended_products_option_select_item{% if color == '' %} recommended_products_option_select_item_none{% endif %}{% if value.selected %} recommended_products_option_select_item_select{% endif %}"
                              {% if color_img != blank %}
                                style="background: url({{ color_img | image_url }}) no-repeat no-repeat center center"
                              {% elsif color != '' %}
                                style="background-color: {{ color }}"
                              {% endif %}
                              title="{{ value }}"
                            ></div>
                          {% else %}
                            <div
                              class="recommended_products_option_select_item{% if value.selected %} recommended_products_option_select_item_select{% endif %}"
                              data-value="{{ value }}"
                            >
                              {{ value }}
                            </div>
                          {% endif %}
                        {% endif %}
                      {% endfor %}
                    </div>
                  </div>
                {% endfor %}
              </div>
              <div class="recommended_products_info_btn nd-btn">
                {{ 'products.product.add_to_cart' | t }}
                {{ 'icon-right-arrow.svg' | inline_asset_content }}
              </div>
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
    <div class="swiper_btn_white swiper_btn_white_prev recommended_products_prev">
      {{- 'swiper-left.svg' | inline_asset_content -}}
    </div>
    <div class="swiper_btn_white swiper_btn_white_next recommended_products_next">
      {{- 'swiper-right.svg' | inline_asset_content -}}
    </div>
  </div>
</div>

<script>
  (() => {
    new Swiper('.recommended_products_section .swiper', {
      loop: true,
      slidesPerView: 1.2,
      spaceBetween: 10,
      navigation: {
        nextEl: '.recommended_products_next',
        prevEl: '.recommended_products_prev',
      },
      breakpoints: {
        768: {
          slidesPerView: 2.2,
          spaceBetween: 20,
        },
        1024: {
          slidesPerView: 3,
          spaceBetween: 40,
        },
        1440: {
          slidesPerView: {{ section.settings.number | json }},
          spaceBetween: 40,
        }
      }
    });
  })()
</script>
<script type="application/json" id="recommended_products_data">
  {% for currency in shop.enabled_currencies %}
    {% if currency.iso_code == shop.currency %}
      {%- assign currency_symbol = currency.symbol -%}
      {% break %}
    {% endif %}
  {% endfor %}
  {
    {% for product in section.settings.product_list %}
      "{{ product.id }}": {
        "product": {{- product | json -}},
        "metafields": {
          "custom": {
            "product_model": {{ product.metafields.custom.product_model | json }}
          }
        },
        "variant": {{ product.selected_or_first_available_variant | json }},
        "symbol": {{ currency_symbol | json }}
      }{% unless forloop.last %},{% endunless %}
    {% endfor %}
  }
</script>
<script src="{{ 'section-recommended-products.js' | asset_url }}"></script>

{% schema %}
{
  "name": "recommended products",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "spec_id",
      "label": "specId"
    },
    {
      "type": "richtext",
      "id": "title",
      "label": "title"
    },
    {
      "type": "product_list",
      "id": "product_list",
      "label": "product list"
    },
    {
      "type": "range",
      "id": "number",
      "min": 3,
      "max": 5,
      "step": 1,
      "label": "show number",
      "default": 3
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 120
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 120
    }
  ],
  "presets": [
    {
      "name": "recommended products"
    }
  ]
}
{% endschema %}
