{% comment %} about-us页 时间轴 {% endcomment %}
<div class="time-line padding-top-60 padding-bottom-60">
  <div class="session-box-padding">
    <h2 class="session-box-inner">{{ section.settings.title }}</h2>
  </div>

  <div class="time-line-header">
    <div class="swiper timeline-years">
      <div class="swiper-wrapper">
        {% for item in section.blocks %}
          <div class="swiper-slide" data-index="{{ forloop.index0 }}">
            {{ item.settings.year_text }}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="session-box-padding">
    <div class="swiper timeline-content session-box-inner">
      <div class="swiper-wrapper">
        {% for item in section.blocks %}
          <div class="swiper-slide">
            <div class="timeline-slide">
              <div class="timeline-text">
                <h3>{{ item.settings.small_title }}</h3>
                <p>{{ item.settings.text }}</p>
              </div>
              <div class="timeline-image">
                {{-
                  item.settings.image
                  | image_url: width: item.settings.image.width
                  | image_tag: alt: item.settings.title
                -}}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

</div>

{% schema %}
{
  "name": "time line",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
        "type": "text",
        "id": "title",
        "label": "title"
    },
    {
        "type": "richtext",
        "id": "text",
        "label": "text"
    }
  ],
  "blocks": [
    {
      "type": "timeline",
      "name": "timeline",
      "settings": [
        {
          "type": "text",
          "id": "year_text",
          "label": "year text"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "image"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "text"
        },
        {
          "type": "text",
          "id": "small_title",
          "label": "small_title"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "time line",
      "blocks": [
        {
          "type": "timeline"
        }
      ]
    }
  ]
}
{% endschema %}

<script>
  const timelineYears = new Swiper('.timeline-years', {
    slidesPerView: 6,
    spaceBetween: 10,
    watchSlidesProgress: true,
    slideToClickedSlide: true, // 点击年份滑动内容
  });

  const timelineContent = new Swiper('.timeline-content', {
    slidesPerView: 1,
    navigation: {
      nextEl: '.timeline-next',
      prevEl: '.timeline-prev',
    },
    thumbs: {
      swiper: timelineYears,
    },
    on: {
      slideChange: function () {
        // 同步年份 Swiper 滑动到中间位置
        const activeIndex = this.activeIndex;
        timelineYears.slideTo(activeIndex - 2); // 滑动时年份也跟着调整居中
      }
    }
  });
</script>


<style>
  .about_us_img_text .session-box-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8.8rem;
}

.about_us_img_text.right .session-box-inner {
    flex-direction: row-reverse;
}

.about_us_img_text_img {
    width: 50%;
    height: auto;
    position: relative;
}
.about_us_img_text_img img{
    width:100%;
    height:auto;
    display:block;
    object-fit:contain;
}

.about_us_img_text_text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding: 20px 0px;
}
.about_us_img_text.right .about_us_img_text_text {
    text-align: left;
}
.about_us_img_text_text_small_title{
  padding-top:68px;
}

@media (max-width: 1024px) {
    .about_us_img_text_img,
    .about_us_img_text_text {
        width: 100%;
    }
    .about_us_img_text .session-box-inner {
        flex-direction: column;
        gap: 4rem;
    }
    .about_us_img_text.right .session-box-inner {
        flex-direction: column;
        gap: 4rem;
    }
    .about_us_img_text_text,.about_us_img_text.right .about_us_img_text_text {
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        padding: 20px;
    }
    .about_us_img_text_text_small_title{
      padding-top:20px;
    }
}
</style>

    
